.container
  %ul.nav.nav-tabs.nav-fill
    %li.nav-item
      %a{"data-toggle" => "tab", href: "#stat-players", class: 'nav-link active'} Players
    %li.nav-item
      %a{"data-toggle" => "tab", href: "#stat-clubs", class: 'nav-link'} Clubs
  .tab-content
    .tab-pane.pane.active#stat-players
      .teams-order-group
        .btn-group{role: 'group'}
          = link_to 'All', clubs_path, class: 'btn btn-outline-primary order-btn'
          .btn-group{role: 'group'}
            %button.btn.btn-outline-primary.order-btn.dropdown-toggle#teams-drop{ type: 'button', 'data-toggle' => 'dropdown', 'aria-haspopup' => true, 'aria-expanded' => 'false' } Teams
            .dropdown-menu{ 'aria-labelledby' => 'teams-drop' }
              - @teams.each do |team|
                = link_to team.name.titleize, clubs_path(team: team.id), class: 'dropdown-item'
      .player-stat-headers
        .player-stat-header #
        .player-stat-header.player-param-name Name
        .player-stat-header Positions
        .player-stat-header= link_to 'Club', clubs_path(order: 'club', team: params['team'])
        .player-stat-header= link_to 'Team', clubs_path(order: 'team')
        .player-stat-header{title: 'Number of matches in mains squad'}= link_to 'MP', clubs_path(order: 'mp', team: params['team'])
        .player-stat-header{title: 'Number of scores'}= link_to 'SC', clubs_path(order: 'sc', team: params['team'])
        .player-stat-header= link_to 'AvgBS', clubs_path(order: 'avbs', team: params['team'])
        .player-stat-header= link_to 'AvgTS', clubs_path(order: 'avts', team: params['team'])
      - @players.each_with_index do |player, i|
        .player-stat
          .player-param= i+1
          .player-param.player-param-name= player.name
          .player-param.player-param-img
            - player.positions.each do |position|
              .l-details-position-image
                = image_tag("positions/#{position.name}.png")
          .player-param.player-param-club
            .club-logo.l-details-club-logo{ class: player.club.code.downcase }
            .player-param-club-name= player.club.code
          .player-param.player-param-img
            = image_tag(player.team.logo_path, alt: "Logo")
          .player-param= player.played_matches_count
          .player-param= player.scores_count
          .player-param= player.average_score
          .player-param= player.average_total_score
    .tab-pane.fade#stat-clubs
      .club-stat-headers
        .club-stat-header #
        .club-stat-header.club-param-name Name
        .club-stat-header Players
      - @clubs.each_with_index do |club, i|
        .club-stat
          .club-param= i+1
          .club-param.club-param-logo
            .club-logo.l-details-club-logo{ class: club.code.downcase }
            .club-param-name= club.name
          .club-param= club.players.size
