.page-block
  .web-header= render 'layouts/left_nav', league: nil
  .mob-header= render 'layouts/mob_header', league: nil, title: club.name
  .page-info.team-show.national-team-show
    .teams-bar
      .teams-bar-section.club-bar-section
        - clubs.each do |club_item|
          = link_to tournament_club_path(tournament, club_item) do
            .team-bar-item.club-bar-item{ class: "current-team-#{club_item == club}"}
              .team-bar-item-logo.club-bar-item-logo
                %object{data: club_item.logo_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
                  = image_tag('default_logo.png')
    .team-section
      .team-data
        .team-logo.club-logo
          %object{data: club.logo_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
            = image_tag('default_logo.png')
        .team-name
          = club.name
      .team-lists
        .team-lists-tabs
          #players.team-lists-tab-item.team-lists-tab-active= t('teams.players')
        .team-lists-content
          .team-list.team-players
            .default-headers.team-players-grid
              .default-header-cell= t('teams.player')
              .default-header-cell= t('teams.positions')
              .default-header-cell= t('teams.appearances')
              .default-header-cell= t('teams.rating')
              .default-header-cell= t('teams.country')
            - club.players.sort_by(&:position_sequence_number).each do |player|
              = link_to player_path(player) do
                .team-player-item.team-players-grid
                  .team-player-data
                    .team-player-avatar
                      .player-show-face
                        %object{data: player.avatar_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
                          = image_tag('avatar.png')
                      .player-show-kit
                        %object{data: player.kit_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
                          = image_tag('kit_small_default.png')
                    .team-player-name
                      .team-player-last-name
                        = player.name
                      .team-player-first-name
                        = player.first_name
                  .team-player-data-mob
                    .team-player-name-mob
                      = "#{player.name} #{player.first_name}"
                    .team-player-subdata-mob
                      .team-player-position-mob
                        .player-positions-block
                          - player.positions.each do |position|
                            .player-position{class: "player-position-#{position.name}"}
                              = position_name(position)
                      .team-player-line-mob
                      = flag_icon(player.nationality.to_sym, element: :div)
                      .team-player-line-mob
                      .team-player-stats-number
                        = "#{player.season_scores_count(player.season_all_matches_with_scores)} #{t('teams.apps')}"
                  .team-player-position
                    .player-positions-block
                      - player.positions.each do |position|
                        .player-position{class: "player-position-#{position.name}"}
                          = position_name(position)
                  .team-player-stats-number.team-player-apps
                    = player.season_scores_count(player.season_all_matches_with_scores)
                  .team-player-stats-number.team-player-rating
                    = player.season_average_result_score(player.season_all_matches_with_scores)
                  .team-player-club
                    = flag_icon(player.nationality.to_sym, element: :div)
                    .team-player-param-item.team-player-link
                      = image_tag('icons/arrow_right.svg')
