.page-block
  .web-header= render 'layouts/left_nav', league: league
  .web-header= render 'layouts/right_nav', league: league
  .mob-header= render 'layouts/mob_header', league: league

  .page-info.auction-rounds-page
    .round-section
      .auction-round-back
        .auction-link-arrow
          = image_tag('icons/arrow_grey.svg')
        = link_to league_auctions_path(league) do
          .auction-link-text= "#{t('auction_round.auction')} ##{auction.number}"
      .auction-round-header
        .auction-round-base
          .auction-round-title= "#{t('auction_round.stage')} ##{auction_round.number}"
          -# TODO: auction bid status
          -#.auction-round-status ongoing
          .auction-round-status
          .round-deadline
            .round-deadline-text= t('tours.deadline')
            .round-deadline-value
              = auction_round.deadline&.strftime("%a, %b %e at %H:%M")
          -# TODO: link to change auction bid status
          -#.round-deadline Submit stage
          .round-deadline
        .rounds-block
          -# - if auction.auction_rounds.count > 1
          - auction.auction_rounds.each do |round|
            - if auction_round == round
              .round-link-block.round-current{ class: "round-#{round.status}" }
                = round.number
            - else
              = link_to auction_round_path(round) do
                .round-link-block{ class: "round-#{round.status}" }
                  = round.number
        -#.actions-buttons
        -#  - if current_user&.team_by_league(league) && auction_round.active?
        -#    - if user_auction_bid(auction_round, league)
        -#      = link_to t('auction_round.edit_bid'), edit_auction_round_auction_bid_path(auction_round, user_auction_bid(auction_round, league))
        -#    - elsif current_user&.team_by_league(league).vacancies.positive?
        -#      = link_to t('auction_round.place_bid'), new_auction_round_auction_bid_path(auction_round)
      .auction-bid-block
        - if user_auction_bid(auction_round, league)
          .auction-bid-title= t('auction_round.your_bid')
          .transfers-block
            .transfer-headers
              .transfer-header-item= t('teams.player')
              .transfer-header-item.transfer-header-position= t('teams.positions')
              .transfer-header-item.right= t('auction_round.bid')
              .transfer-header-item.center= t('teams.club')
              .transfer-header-item
            - user_auction_bid(auction_round, league).player_bids.each do |player_bid|
              = link_to player_path(player_bid.player) do
                .transfer-item
                  .team-player-param-item.transfer-player-data{class: "transfer-player-data-#{player_bid.status}"}
                    .transfer-player-avatar
                      .player-show-face
                        %object{data: player_bid.player.avatar_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
                          = image_tag('avatar.png')
                      .player-show-kit
                        %object{data: player_bid.player.kit_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
                          = image_tag('kit_small_default.png')
                    .transfer-player-name
                      .transfer-player-last-name
                        = player_bid.player.name
                      .transfer-player-first-name
                        = player_bid.player.first_name
                  .team-player-param-item.transfer-player-position
                    - player_bid.player.positions.each do |position|
                      .slot-position{class: "slot-position-#{position.name}"}
                        = position_name(position)
                  .team-player-param-item.transfer-player-rating
                    = player_bid.price
                  .team-player-param-item.transfer-player-club
                    %object{data: player_bid.player.club.logo_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
                      = image_tag('default_logo.png')
                  .team-player-param-item.transfer-player-link
                    = image_tag('icons/link_arrow.png')
    .stats-section
      - if current_user&.team_by_league(league)
        .round-table
          .round-table-title-header
            .round-table-title
              .round-table-title-text= t('auction_round.budget')
            .round-table-hide.round-table-visible
              = image_tag('icons/arrow_up.svg')
            .round-table-hide.round-table-hidden
              = image_tag('icons/arrow_down.svg')
          .round-list.auction-round-budget
            .auction-round-budget-list
              .auction-round-budget-row
                .auction-round-budget-dot.budget-dot-balance
                .auction-round-budget-text= t('auction_round.balance')
                .auction-round-budget-value.budget-value-balance= "#{current_user&.team_by_league(league).budget}M"
              .auction-round-budget-row
                .auction-round-budget-dot.budget-dot-spent-auc
                .auction-round-budget-text= t('auction_round.spent_auction')
                .auction-round-budget-value.budget-value-spent-auc= "#{current_user&.team_by_league(league).spent_budget(auction)}M"
              .auction-round-budget-row
                .auction-round-budget-dot.budget-dot-spent-total
                .auction-round-budget-text= t('auction_round.spent_total')
                .auction-round-budget-value.budget-value-spent-total= "#{Team::DEFAULT_BUDGET - current_user&.team_by_league(league).budget}M"
            .auction-round-budget-summary
              .auction-round-budget-summary-row
                .auction-round-budget-summary-text= t('auction_round.total_budget')
                .auction-round-budget-summary-value= "#{Team::DEFAULT_BUDGET}M"
              .auction-round-budget-summary-row
                .auction-round-budget-summary-text= t('auction_round.max_bid')
                .auction-round-budget-summary-value= "#{current_user&.team_by_league(league).max_rate}M"
      .round-table
        .round-table-title-header
          .round-table-title
            .round-table-title-text= t('auction_round.bets_placed')
          .round-table-hide.round-table-visible
            = image_tag('icons/arrow_up.svg')
          .round-table-hide.round-table-hidden
            = image_tag('icons/arrow_down.svg')
        .round-list
          - league.teams.each_with_index do |team, i|
            = link_to team_path(team), class: 'auction-round-table-link' do
              .round-table-item.auction-round-table-item
                .round-table-item-cell.round-table-item-team
                  .results-team-logo
                    = image_tag(image_path(team.logo_path))
                  .results-team-name
                    = team.human_name[0..15]
                .round-table-item-cell.center
                  = team.vacancies
                .round-table-item-cell.auction-round-team-budget
                  = "#{team.budget}M"
                .round-table-item-cell.center
                  - if auction_round.auction_bids.find_by(team: team)
                    ✅
                  - elsif team.full_squad?
                    🏁️
                  - else
                    ⌛️
      .round-table
        .round-table-title
          = link_to league_auction_transfers_path(league, auction) do
            .round-table-title-text= t('auction_round.transfers')
            .round-table-title-icon
              = image_tag('icons/arrow_blue.svg')
        - if @transfers.any?
          .round-table-block
            -#.round-table-headers.round-player-stats-headers
            -#  .round-table-header-cell
            -#  .round-table-header-cell.round-table-header-player= t('tours.player')
            -#  .round-table-header-cell= t('auction_round.price')
            -#  .round-table-header-cell= t('tours.team')
            - @transfers.each_with_index do |transfer, i|
              .round-table-item.round-player-stats-item
                .round-player-stats-param.center= i + 1
                .round-player-stats-param.round-player-stats-data
                  .round-player-stats-img
                    .round-player-show-face
                      %object{data: transfer.player.avatar_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
                        = image_tag('avatar.png')
                    .round-player-show-kit
                      %object{data: transfer.player.kit_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
                        = image_tag('kit_small_default.png')
                  .round-player-stats-name= transfer.player.name
                .round-player-stats-param.round-player-stats-score= transfer.price
                .round-player-stats-param.round-player-stats-team
                  = image_tag(transfer.team.logo_path)

  .portrait-footer{ class: "portrait-footer-#{league.mantra?}"}
    = render 'layouts/league_links', league: league

:javascript
  $(document).ready(function() {
    $(".round-table-hide").click(function(){
      var statsTable = this.parentNode.parentNode;
      var list = statsTable.querySelector(".round-list");

      if (this.classList.contains("round-table-visible")) {
          list.style.display = "none";
          this.style.display = "none";
          statsTable.querySelector(".round-table-hidden").style.display = "block";
      }

      if (this.classList.contains("round-table-hidden")) {
          list.style.display = "block";
          this.style.display = "none";
          statsTable.querySelector(".round-table-visible").style.display = "block";
      }
    });
  });
