.page-block
  .web-header= render 'layouts/left_nav', league: league
  .web-header= render 'layouts/right_nav', league: league
  .mob-header= render 'layouts/mob_header', league: league

  - user_team = current_user&.team_by_league(league)
  .page-info.auction-rounds-page
    .round-section
      .auction-round-back
        .auction-link-arrow
          = image_tag('icons/arrow_grey.svg')
        = link_to league_auctions_path(league) do
          .auction-link-text= "#{t('auction_round.auction')} ##{auction.number}"
      .round-action-btn.auction-round-mob
        - if auction_bid && !auction_bid.processed?
          = submit_tag t("auction_round.offer_action.#{auction_bid.status}"), form: 'auction_bid_form', class: "submit-btn submit-btn-#{auction_bid.status}", id: 'submit-bid-btn-mob'
      .auction-round-header{ class: "auction-round-base-#{auction_bid&.status}" }
        .auction-round-base
          .auction-round-title= "#{t('auction_round.stage').upcase} ##{auction_round.number}"
          .auction-round-status
            - if auction_bid
              .auction-round-status-badge
                = t("auction_round.status.#{auction_bid.status}")
          - unless auction_round.closed?
            .round-deadline
              .round-deadline-text= t('tours.deadline')
              .round-deadline-value
                = local_time(auction_round.deadline, '%a, %b %e at %H:%M')
            .round-action-btn.auction-round-web
              - if auction_bid && !auction_bid.processed?
                = submit_tag t("auction_round.offer_action.#{auction_bid.status}"), form: 'auction_bid_form', class: "submit-btn submit-btn-#{auction_bid.status}", id: 'submit-bid-btn'
            .tooltip-info
              .wrapper
                .tooltip
                  .tooltip-header= t("auction_round.tooltip.header.#{auction_bid&.status || 'initial'}")
                  .tooltip-round-data= t("auction_round.tooltip.description.#{auction_bid&.status || 'initial'}")
                  .tooltip-base-header= t('auction_round.tooltip.base_header')
                  %ol
                    %li.tooltip-base-data= t('auction_round.tooltip.base_data_one')
                    %li.tooltip-base-data= t('auction_round.tooltip.base_data_two')
                    %li.tooltip-base-data= t('auction_round.tooltip.base_data_three')
                .tooltip-img= image_tag('icons/info.svg')
        .rounds-block
          - if auction.auction_rounds.count > 1
            - auction.auction_rounds.each do |round|
              - if auction_round == round
                .round-link-block.round-current{ class: "round-#{round.status}" }
                  = round.number
              - else
                = link_to auction_round_path(round) do
                  .round-link-block{ class: "round-#{round.status}" }
                    = round.number
      - if !auction_round.closed? && user_team&.vacancies&.positive?
        .auction-round-add-header
          - if auction.primary? && auction_round.first?
            .auction-round-add-row.auction-round-add-row-prime
              .auction-round-add-text= t('auction_round.subheader.text1')
              .auction-round-add-item-badge= t('auction_round.subheader.players', players: auction_round.slots_number_by(user_team))
              - if user_team.players.by_position('Por').count < auction_round.gk_min_limit
                .auction-round-add-text= t('auction_round.subheader.text2')
                .auction-round-add-item-badge.auction-round-add-item-badge-gk= t('auction_round.subheader.goalkeeper', gk_count: auction_round.gk_min_limit - user_team.players.by_position('Por').count )
              .auction-round-add-text= t('auction_round.subheader.text3')
              .auction-round-add-item-badge.auction-round-add-item-badge-budget= "#{user_team.round_budget(auction_round)}M"
          .auction-round-add-row
            .auction-round-add-text= t('auction_round.subheader.text4')
            .auction-round-add-item-badge= t('auction_round.subheader.players', players: user_team.vacancies)
            - if user_team.players.by_position('Por').count < Team::MIN_GK
              .auction-round-add-text= t('auction_round.subheader.text5')
              .auction-round-add-item-badge.auction-round-add-item-badge-gk= t('auction_round.subheader.goalkeeper', gk_count: Team::MIN_GK - user_team.players.by_position('Por').count )
            .auction-round-add-text= t('auction_round.subheader.text6')
            .auction-round-add-item-badge.auction-round-add-item-badge-budget= "#{user_team.budget}M"
      = render 'auction_bids/bid_block', auction_bid: auction_bid, auction_round: auction_round, league: league, user_team: user_team, auction: auction

    = render 'auction_bids/stats_section', auction_bid: auction_bid, auction_round: auction_round, auction: auction, league: league, user_team: user_team, modules: @modules, transfers: @transfers, drop_outs: @drop_outs

  .portrait-footer{ class: "portrait-footer-#{league.mantra?}"}
    = render 'layouts/league_links', league: league
