.teams-bar
  - if team.league
    - team.league.teams.each do |league_team|
      = link_to team_path(league_team) do
        .team-bar-item{ class: "current-team-#{team == league_team} team-bar-items#{team.league.teams.count}"}
          .team-bar-item-logo
            = image_tag(league_team.logo_path)
          .team-bar-item-name
            = league_team.code
.team-section
  .team-data-web
    = render 'team_data_section', team: team
  .team-lists
    .team-lists-tabs
      #overview.team-lists-tab-item= t('teams.overview')
      #players.team-lists-tab-item.team-lists-tab-active= t('teams.players')
      #games.team-lists-tab-item= t('teams.games')
      #transfers.team-lists-tab-item= t('teams.transfers')
    .team-lists-content
      .team-list.team-overview
        = render 'team_data_section', team: team
      .team-list.team-players
        .default-headers.team-players-grid
          .default-header-cell= t('teams.player')
          .default-header-cell= t('teams.positions')
          .default-header-cell= t('teams.appearances')
          .default-header-cell= t('teams.rating')
          .default-header-cell= t('teams.club')
        - team.players.sort_by(&:position_sequence_number).each do |player|
          = link_to player_path(player) do
            .team-player-item.team-players-grid
              .team-player-data
                .team-player-avatar
                  .player-show-face
                    %object{data: player.avatar_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
                      = image_tag('avatar.png')
                  .player-show-kit
                    %object{data: player.kit_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
                      = image_tag('kit_small_default.png')
                .team-player-name
                  .team-player-last-name
                    = player.name
                  .team-player-first-name
                    = player.first_name
              .team-player-data-mob
                .team-player-name-mob
                  = "#{player.name} #{player.first_name}"
                .team-player-subdata-mob
                  .team-player-position-mob
                    .player-positions-block
                      - player.positions.each do |position|
                        .player-position{class: "player-position-#{position.name}"}
                          = position_name(position)
                  .team-player-line-mob
                  %object{data: player.club.logo_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
                    = image_tag('default_logo.png')
                  .team-player-line-mob
                  .team-player-stats-number
                    = "#{player.season_scores_count} #{t('teams.apps')}"
              .team-player-position
                .player-positions-block
                  - player.positions.each do |position|
                    .player-position{class: "player-position-#{position.name}"}
                      = position_name(position)
              .team-player-stats-number.team-player-apps
                = player.season_scores_count
              .team-player-stats-number.team-player-rating
                = player.season_average_result_score
              .team-player-club
                %object{data: player.club.logo_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
                  = image_tag('default_logo.png')
                .team-player-param-item.team-player-link
                  = image_tag('icons/arrow_right.svg')
      .team-list.team-games
        - if team.next_match
          .team-games-next
            .team-games-next-title= t('teams.next_round')
            .team-games-next-data
              = render 'team_match_item', match: team.next_match
        .default-headers.team-games-grid
          .default-header-cell= t('teams.round')
          .default-header-cell= t('teams.opponent')
          .default-header-cell= t('teams.score')
        - team.league_matches.each do |match|
          = render 'team_match_item', match: match
      .team-list.team-transfers
        .default-headers.team-transfers-grid
          .default-header-cell= t('teams.player')
          .default-header-cell= t('teams.positions')
          .default-header-cell= t('teams.status')
          .default-header-cell= t('teams.price')
          .default-header-cell= t('teams.club')
        - team.league_transfers.reverse.each do |transfer|
          = link_to player_path(transfer.player) do
            .team-player-item.team-transfers-grid
              .team-player-data
                .team-player-avatar
                  .player-show-face
                    %object{data: transfer.player.avatar_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
                      = image_tag('avatar.png')
                  .player-show-kit
                    %object{data: transfer.player.kit_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
                      = image_tag('kit_small_default.png')
                .team-player-name
                  .team-player-last-name
                    = transfer.player.name
                  .team-player-first-name
                    = transfer.player.first_name
              .team-player-data-mob
                .team-player-name-mob
                  = "#{transfer.player.name} #{transfer.player.first_name}"
                .team-player-subdata-mob
                  .team-player-position-mob
                    .player-positions-block
                      - transfer.player.positions.each do |position|
                        .player-position{class: "player-position-#{position.name}"}
                          = position_name(position)
                  .team-player-line-mob
                  %object{data: transfer.player.club.logo_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
                    = image_tag('default_logo.png')
              .team-player-position
                .player-positions-block
                  - transfer.player.positions.each do |position|
                    .player-position{class: "player-position-#{position.name}"}
                      = position_name(position)
              .team-player-transfer-status{ class: "transfer-status-#{transfer.status}" }
                = t("teams.#{transfer.status}")
              .team-player-stats-number.team-player-rating
                = transfer.price
              .team-player-transfer-status-mob
                = t("teams.#{transfer.status}")[0]
              .team-player-club
                %object{data: transfer.player.club.logo_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
                  = image_tag('default_logo.png')
                .team-player-param-item.team-player-link
                  = image_tag('icons/arrow_right.svg')

:javascript
  $(document).ready(function() {
    $(".team-list").hide();
    $(".team-players").show();

    $(".team-lists-tab-item").click(function(){
      var listId = this.id;

      $(".team-lists-tab-item").removeClass("team-lists-tab-active");
      $(".team-list").hide();

      $("#" + listId).addClass("team-lists-tab-active");
      $(".team-" + listId).show();
    });
  });