%table.table
  %thead
    %tr.center
      %th Positions
      %th Name
      %th Club
      %th
  - team.players.order_by_status.each do |player|
    %tbody
      %tr.center
        %td
          - player.positions.each do |position|
            .position-image.inline-block
              = image_tag("positions/#{position.name}.png")
        %td
          = player.name
          .badge{ class: status_class(player.status) }
            = player.status
        %td
          .club-logo{ class: player.club.code.downcase }
        %td
          .btn-group{"aria-label" => "Basic example", role: "group"}
            - Player.statuses.each do |status, value|
              - if status != player.status
                = link_to status, team_player_change_status_path(team, player, status: status), class: 'btn btn-primary'
