.container
  .col-xs-2
    .alert.alert-primary
      %h3
        = team.name.humanize
    - if team.lineups.where(tour_id: active_tours.first&.id).exists?
      .alert.alert-primary
        %h6 Finish tour # #{active_tours.first&.number} and wait next
    - elsif active_tours.exists?
      %span
        = link_to 'Create lineup', new_team_lineup_path(team), class: 'btn btn-primary btn-lg active'
    - else
      .alert.alert-primary
        %h6 Ask Admin to activate tour
  .col-xs-8
    - team.lineups.each do |lineup|
      = render 'lineup', lineup: lineup
  %hr
  .row
    %h3 Crew
    = render 'team_players', team: team
