.page-block
  .web-header= render 'layouts/left_nav', league: team.league
  .web-header= render 'layouts/right_nav', league: team.league
  .mob-header= render 'layouts/mob_header', league: team.league, title: team.human_name

  .page-info.team-show
    - if team.league && team.tournament.fanta?
      = render 'fanta_team', team: team
    - else
      = render 'mantra_team', team: team

  - if team.league
    .portrait-footer{ class: "portrait-footer-#{team.league.mantra?}"}
      = render 'layouts/league_links', league: team.league
