.container
  .col-xs-2
    .alert.alert-primary
      .team-header
        .team-logo.inline-block
          %img{alt: "Logo", src: image_path(team.logo_path)}
        .team-title.inline-block
          = team.name.humanize
    - if team.lineups.where(tour_id: active_tours.first&.id).exists?
      .alert.alert-primary
        %h6 Finish tour # #{active_tours.first&.number} and wait next
    - elsif active_tours.exists?
      - if team.user == current_user
        %span
          = link_to 'Create lineup', new_team_lineup_path(team), class: 'btn btn-primary btn-lg active'
    - else
      .alert.alert-warning
        %h6 Ask Admin to activate tour
  -# TODO: Move lineups functionality to separate page or tab
  - if team.user == current_user
    .col-xs-8
      - team.lineups.each do |lineup|
        = render 'lineup', lineup: lineup
  .container
    .row
      %h3 Crew
      = render 'team_players', team: team
