.page-header
  .page-header-icon
    = image_tag(team.logo_path)
  .page-header-title= team.human_name
.page-info
  .list-items.list-team-players.center
    - team.players.sort_by(&:position_sequence_number).each do |player|
      .list-row-item
        .list-row-cell.team-pl-positions
          - player.positions.each do |position|
            .position-image.inline-block
              = image_tag("positions/#{position.name}.png")
        .list-row-cell.team-pl-name
          = link_to player.name.upcase, player_path(player)
        .list-row-cell.team-pl-club-logo
          .club-logo
            = image_tag(player.club.logo_path, alt: 'Club Logo')
        .list-row-cell.team-pl-club-stats{title: 'Scores count'}
          = player.scores_count
        .list-row-cell.team-pl-club-score{title: 'Average score'}
          = player.average_total_score
-# TODO: Temporary remove player status functionality
-#    .badge{ class: status_class('badge', player.status) }
-#      = player.status
-#    - Player.statuses.each do |status, _value|
-#      - if status != player.status
-#        = link_to status, player_change_status_path(player, status: status), class: "btn btn-sm btn-primary #{status_class('btn', status)}"
