.login-page
  .login-icon
    .mantra-logo
      = link_to root_path do
        = image_tag('logo.svg')
  .login-block
    .login-title-block
      .title-text= t('devise.registrations.index.verify')
    .subtitle-text
      = t('devise.registrations.index.instructions')
      .confirm-email= @email
