- content_for :head do
  %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
.page-block
  .web-header= render 'layouts/left_nav', league: league
  .web-header= render 'layouts/right_nav', league: league
  .mob-header= render 'layouts/mob_header', league: league, title: national_team.tournament.name
  .page-info.national-team-show.club-show.team-show
    .teams-bar.clubs-bar
      .teams-bar-section.club-bar-section
        - national_teams.each do |team|
          = link_to national_team_path(team) do
            .team-bar-item.club-bar-item{ class: "current-team-#{team == national_team}"}
              .team-bar-item-logo.club-bar-item-logo
                = flag_icon(team.code.to_sym, element: :div)
    .club-show-content
      .club-section.team-section
        .club-data
          .club-logo
            = flag_icon(national_team.code.to_sym, element: :div)
          .club-name
            = national_team.name
          .club-tournament
            = national_team.tournament&.name
        .club-list.team-lists
          .default-headers.team-players-grid
            .default-header-cell= t('teams.player')
            .default-header-cell= t('teams.positions')
            .default-header-cell= t('teams.appearances')
            .default-header-cell= t('teams.rating')
            .default-header-cell= t('teams.club')
          - national_team.players.sort_by(&:position_sequence_number).each do |player|
            = link_to player_path(player) do
              .team-player-item.team-players-grid
                .team-player-data
                  .team-player-avatar
                    .player-show-face
                      %object{data: player.avatar_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
                        = image_tag('avatar.png')
                    .player-show-kit
                      %object{data: player.national_kit_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
                        = image_tag('kit_small_default.png')
                  .team-player-name
                    .team-player-last-name
                      = player.name
                    .team-player-first-name
                      = player.first_name
                .team-player-data-mob
                  .team-player-name-mob
                    = "#{player.name} #{player.first_name}"
                  .team-player-subdata-mob
                    .team-player-position-mob
                      .player-positions-block
                        - player.positions.each do |position|
                          .player-position{class: "player-position-#{position.name}"}
                            = position_name(position)
                    .team-player-line-mob
                    %object{data: player.club.logo_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
                      = image_tag('default_logo.png')
                    .team-player-line-mob
                    .team-player-stats-number
                      = "#{player.season_scores_count(player.national_matches_with_scores)} #{t('teams.apps')}"
                .team-player-position
                  .player-positions-block
                    - player.positions.each do |position|
                      .player-position{class: "player-position-#{position.name}"}
                        = position_name(position)
                .team-player-stats-number.team-player-apps
                  = player.season_scores_count(player.national_matches_with_scores)
                .team-player-stats-number.team-player-rating
                  = player.season_average_result_score(player.national_matches_with_scores)
                .team-player-club
                  %object{data: player.club.logo_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
                    = image_tag('default_logo.png')
                  .team-player-param-item.team-player-link
                    = image_tag('icons/arrow_right.svg')
      .clubs-list
        - national_teams.each do |team|
          .club-list-item{ class: "current-club-#{team == national_team}"}
            = link_to national_team_path(team) do
              .club-list-row
                .club-list-logo
                  = flag_icon(team.code.to_sym, element: :div)
                .club-list-name= team.name
