.leagues-counters
  - counters[leagues_type].each do |counter|
    .leagues-counter{ class: "leagues-counter-#{counter[0].downcase.tr(' ', '-')}" }
      .leagues-counter-name
        = counter[0]
      .leagues-counter-value
        = counter[1]
.leagues-list
  .leagues-list-headers
    .leagues-list-header
    .leagues-list-header= t('league.name')
    .leagues-list-header= t('league.tournament')
    .leagues-list-header= t('league.leader')
    .leagues-list-header.right= t('league.teams')
    .leagues-list-header.right= t('league.round')
    .leagues-list-header
  - leagues[leagues_type].includes(:results).each do |league|
    = link_to league_link(league) do
      .leagues-list-item
        .leagues-list-item-param.tournament-logo= image_tag(league.tournament.logo_path)
        .leagues-list-item-param= league.name
        .leagues-list-item-param= league.tournament.name
        .leagues-list-item-param.leagues-list-leader
          - if league.leader
            = image_tag(league.leader.logo_path)
            = league.leader.human_name
        .leagues-list-item-param.right= league.results.count
        .leagues-list-item-param.right= league.active_tour&.number || league.tours.count
        .leagues-list-item-param.league-link
          = image_tag('icons/link_arrow.png')
