.page-block
  .web-header= render 'layouts/left_nav', league: league
  .web-header= render 'layouts/right_nav', league: league
  .mob-header= render 'layouts/mob_header', league: league

  .page-info.league-page
    - if current_user&.admin? && league.initial?
      .league-admin
        .league-admin-section
          .league-admin-params
            .league-admin-param
              .league-admin-text= t('league.teams')
              .league-admin-value
                .league-admin-val-item= league.teams.count
            .league-admin-param
              .league-admin-text= t('league.auctions')
              .league-admin-value
                .league-admin-val-item= league.auction_number
            .league-admin-param
              .league-admin-text= t('league.tours')
              .league-admin-value
                .league-admin-val-item= league.tournament.tournament_rounds.by_season(league.season_id).count - league.tour_difference
          .league-admin-link
            = link_to activate_league_path(league), method: :put do
              .blue-btn.login-btn= t('league.activate')
    .league-teams
      - league.teams.each do |team|
        .league-team-item
          = link_to team_path(team) do
            .team-logo
              = image_tag(team.logo_path)
            .team-name
              = team.human_name
  .portrait-footer{ class: "portrait-footer-#{league.mantra?}"}
    = render 'layouts/league_links', league: league