.local-header
  .local-header-close
    = link_to user_path(current_user) do
      &times;
  .local-header-text
    .local-header-title= t('users.change_password')
    .local-header-subtitle= t('users.change_password_desc')
  .local-header-link

.page-info.user-profile
  .user-show
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = bootstrap_devise_error_messages!
      .form-group
        = f.label :current_password
        = f.password_field :current_password, autocomplete: 'current-password', class: 'form-control'
        %small.form-text.text-muted= t('.we_need_your_current_password_to_confirm_your_changes')
      .form-group
        = f.label :password
        = f.password_field :password, autocomplete: 'new-password', class: 'form-control'
      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control'
      .form-item.form-btn
        = f.submit t('users.update'), class: 'btn btn-primary welcome-btn-form'

-# TODO: maybe use confirmable block
-# DEFAULT DEVISE PAGE
-#<h2>Edit <%= resource_name.to_s.humanize %></h2>
-#
-#<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
-#  <%= render "devise/shared/error_messages", resource: resource %>
-#
-#  <div class="field">
-#    <%= f.label :email %><br />
-#    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
-#  </div>
-#
-#  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
-#    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
-#  <% end %>
-#
-#  <div class="field">
-#    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
-#    <%= f.password_field :password, autocomplete: "new-password" %>
-#    <% if @minimum_password_length %>
-#      <br />
-#      <em><%= @minimum_password_length %> characters minimum</em>
-#    <% end %>
-#  </div>
-#
-#  <div class="field">
-#    <%= f.label :password_confirmation %><br />
-#    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
-#  </div>
-#
-#  <div class="field">
-#    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
-#    <%= f.password_field :current_password, autocomplete: "current-password" %>
-#  </div>
-#
-#  <div class="actions">
-#    <%= f.submit "Update" %>
-#  </div>
-#<% end %>
-#
-#<h3>Cancel my account</h3>
-#
-#<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
-#
-#<%= link_to "Back", :back %>