-# TODO: update view UI
= form_for @article do |f|
  - if @article.errors.any?
    #error_explanation
      %h2= "#{pluralize(@article.errors.count, "error")} prohibited this article from being saved:"
      %ul
        - @article.errors.full_messages.each do |message|
          %li= message

  .input-group.mb-3
    .input-group-prepend
      %span.input-group-text Title*
    = f.text_field :title, class: 'form-control'

  .input-group.mb-3
    .input-group-prepend
      %span.input-group-text Summary
    = f.text_field :summary, class: 'form-control'

  .input-group.mb-3
    .input-group-prepend
      %span.input-group-text Image URL
    = f.text_field :image_url, class: 'form-control'

  .input-group.mb-3
    .input-group-prepend
      %span.input-group-text Internal Image URL
    = f.text_field :internal_image_url, class: 'form-control'

  .input-group.mb-3
    .input-group-prepend
      %span.input-group-text Tag
    = f.select :article_tag_id, class: 'form-control' do
      - article_tags.each do |tag|
        = content_tag(:option, tag.name, value: tag.id)

  .input-group.mb-3
    .input-group-prepend
      %span.input-group-text Description*
    = f.text_area :description, class: 'form-control editor', rows: 40, cols: 160

  .actions.right
    = f.submit 'Save', class: 'btn btn-primary'
