.page-info
  - if current_user&.admin?
    .list-items.list-action-items.center
      .list-row-item
        .list-row-cell.hidden-cell
        .list-row-cell.hidden-cell
        .list-row-cell.item-c
          = link_to 'NEW ARTICLE', new_article_path
  .articles-block
    - @articles.each do |article|
      .article-item
        = link_to article do
          .article-block
            .article-image
              = image_tag(article.image)
            .article-data
              .article-title
                %h3= article.title
              .article-summary
                %h5= article.summary
-# TODO: add button New Article for admin users
-# = link_to 'New Article', new_article_path, class: 'btn btn-primary' if current_user&.admin?
