.page-header
  .page-header-icon
    = image_tag('navbar/news.png')
  .page-header-title News
.page-info
  .article-show
    .article-item
      .article-image
        = image_tag(article.image)
      .article-data
        .article-title
          %h3= article.title
        .article-summary
          %h5= article.summary
        .article-description
          %p= article.description.html_safe
      - if current_user&.admin?
        .article-btn
          = link_to 'Edit', edit_article_path(article), class: 'btn btn-primary'
          = link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary'
