.page-info.auctions-page
  .auctions-head
    .tournament-logo= image_tag(league.tournament.logo_path)
    .auctions-title
      = t('auction.title', league: league.name)
  .auctions-block
    .auctions-headers
      .auctions-header-item.center #
      .auctions-header-item= t('auction.status')
      .auctions-header-item.center= t('auction.deadline')
      .auctions-header-item.center= t('auction.event_time')
      .auctions-header-item.center= t('auction.transfers_count')
      .transfer-header-item
    - @auctions.reverse.each do |auction|
      = link_to auction_link(auction) do
        .auction-item{ class: "auction-#{auction.status}"}
          .auction-param-item.center= auction.number
          .auction-param-item= auction.status.tr('_',' ').capitalize
          .auction-param-item.center= auction.deadline&.strftime("%^a, %^b %e, %H:%M")
          .auction-param-item.center= auction.event_time&.strftime("%^a, %^b %e, %H:%M")
          .auction-param-item.center= auction.transfers.count
          .auction-param-item.auction-link
            = image_tag('icons/link_arrow.png')
