.page-block
  .web-header= render 'layouts/left_nav', league: league
  .web-header= render 'layouts/right_nav', league: league
  .mob-header= render 'layouts/mob_header', league: league

  .page-info.auctions-page
    .auctions-head
      .tournament-logo= image_tag(league.tournament.logo_path)
      .auctions-title
        = link_to t('auction_round.auction', league: league.name), league_link(league)
    .auctions-block
      .default-headers.auctions-headers.auctions-headers-grid
        .default-header-cell #
        .default-header-cell= t('auction.status')
        .default-header-cell= t('auction.deadline')
        -#.default-header-cell.event-web= t('auction.event_time')
        .default-header-cell= t('auction.transfers')
      - @auctions.reverse.each do |auction|
        - if current_user&.admin?
          - if auction.initial?
            .actions-buttons
              = link_to 'Sales', league_auction_path(league, auction, status: :sales), method: :put, data: { confirm: t('header.are_you_sure') }
              = link_to 'Blind Bids', league_auction_path(league, auction, status: :blind_bids), method: :put, data: { confirm: t('header.are_you_sure') }
              = link_to 'Live ', league_auction_path(league, auction, status: :live), method: :put, data: { confirm: t('header.are_you_sure') }
          - if auction.blind_bids? || auction.live?
            .actions-buttons
              = link_to 'Close', league_auction_path(league, auction, status: :closed), method: :put, data: { confirm: t('header.are_you_sure') }
        = link_to auction_link(auction) do
          .auction-item.auctions-headers-grid{ class: "auction-#{auction.status}"}
            .auction-number.center= auction.number
            .auction-status-badge
              = auction.status.tr('_',' ').capitalize
            .auction-param-item= auction.deadline&.strftime("%^a, %^b %e, %H:%M")
            -#.auction-param-item.event-web.center= auction.event_time&.strftime("%^a, %^b %e, %H:%M")
            .auction-param-item= auction.transfers.count

  .portrait-footer{ class: "portrait-footer-#{league.mantra?}"}
    = render 'layouts/league_links', league: league
