.page-block
  .web-header= render 'layouts/left_nav', league: league
  .web-header= render 'layouts/right_nav', league: league
  .mob-header= render 'layouts/mob_header', league: league

  .page-info.auction-show-page
    .back-links.lineup-mob-hide
      .back-link
        = link_to league_auctions_path(league) do
          .back-link-arrow
            = image_tag('icons/arrow_left.svg')
          .back-link-text
            = auction.primary? ? t("auction.index.initial_title") : t("auction.index.intermediate_title", number: auction.number - 1)

    - if auction.closed?
      = render 'logs', auction: auction
    - else
      .auction-message-block
        .auction-message-section
          - if auction.initial? && !auction.deadline
            .auction-message-icon-wrapper
              .auction-message-icon 🔒
            .auction-message-title= t("auction.show.wo_deadline.title")
            .auction-message-text= t("auction.show.wo_deadline.text", date: auction.base_date)
          - else
            .auction-message-icon-wrapper
              .auction-message-icon ⏳
            .auction-message-title= t("auction.show.deadline.title")
            .auction-message-text= t("auction.show.deadline.text", date: auction.deadline.strftime('%b %e, %Y'))
            .auction-message-deadline

        -# - if current_user&.admin?
        -#   - if auction.initial?
        -#     .actions-buttons
        -#       = link_to 'Sales', league_auction_path(league, auction, status: :sales), method: :put, data: { confirm: t('header.are_you_sure') }
        -#       = link_to 'Blind Bids', league_auction_path(league, auction, status: :blind_bids), method: :put, data: { confirm: t('header.are_you_sure') }
        -#       = link_to 'Live ', league_auction_path(league, auction, status: :live), method: :put, data: { confirm: t('header.are_you_sure') }
        -#   - if auction.blind_bids? || auction.live?
        -#     .actions-buttons
        -#       = link_to 'Close', league_auction_path(league, auction, status: :closed), method: :put, data: { confirm: t('header.are_you_sure') }

  .portrait-footer{ class: "portrait-footer-#{league.mantra?}"}
    = render 'layouts/league_links', league: league

