.page-block
  .web-header= render 'layouts/left_nav', league: nil
  .web-header= render 'layouts/manage_nav'
  .mob-header= render 'layouts/mob_header', league: nil, title: t('manage.leagues.edit_title')
  .page-info.admin-leagues-page
    %h2= t('manage.leagues.edit_title')
    = render 'form', league: @league
