.page-block
  .web-header= render 'layouts/left_nav', league: nil
  .web-header= render 'layouts/manage_nav'
  .mob-header= render 'layouts/mob_header', league: nil, title: t('manage.leagues.title')
  .page-info.admin-leagues-page
    .d-flex.align-items-center.justify-content-between.mb-3
      %h2.mb-0= t('manage.leagues.title')
      = link_to t('manage.leagues.new_title'), new_manage_league_path, class: 'btn btn-primary'

    - if flash[:notice]
      .alert.alert-success= flash[:notice]

    .default-tabs.manage-leagues-tabs
      - Manage::LeaguesController::STATUSES.each do |status|
        = link_to manage_leagues_path(status: status), class: "default-tab-item #{'default-tab-active' if @status == status}" do
          .default-tab-name= t("manage.leagues.status_#{status}")

    - if @leagues.any?
      %table.table.table-hover
        %thead.thead-light
          %tr
            %th= t('manage.leagues.name')
            %th= t('manage.leagues.tournament')
            %th= t('manage.leagues.season')
            %th= t('manage.leagues.teams')
            %th= t('manage.leagues.auctions')
            %th= t('manage.leagues.tours')
            %th= t('manage.leagues.edit')
            %th
        %tbody
          - @leagues.each do |league|
            %tr
              %td= link_to league.name, league_path(league)
              %td= league.tournament.name
              %td= "#{league.season.start_year}-#{league.season.end_year}"
              %td= league.teams.count
              %td= league.auction_number
              %td= league.tournament.tournament_rounds.by_season(league.season_id).count - league.tour_difference
              %td= link_to t('manage.leagues.edit'), edit_manage_league_path(league), class: 'btn btn-sm btn-outline-secondary'
              %td
                - if league.initial?
                  = form_tag(activate_manage_league_path(league), method: :post) do
                    .d-flex.align-items-center.gap-2
                      = datetime_local_field_tag :deadline, (Time.zone.now + 1.day).strftime('%Y-%m-%dT%H:%M'), class: 'form-control form-control-sm d-inline-block w-auto mr-1', required: true, step: 60
                      = submit_tag t('manage.leagues.activate'), class: 'btn btn-sm btn-success', data: { confirm: t('manage.leagues.confirm') }
    - else
      %p.text-muted= t('manage.leagues.empty')
