.page-block
  = render 'layouts/left_nav', league: nil
  .join-requests-page
    .requests-img= image_tag('icons/requests-ready.svg')
    .title-text= t('join_request.index.title')
    .subtitle-text= t('join_request.index.subtitle')
    .requests-text= t('join_request.index.text')
    .contact-row
      .contact-text= t('join_request.index.contact')
      .contact-link= link_to t('join_request.index.link'), 'https://t.me/mantra_help', target: '_blank'

