.login-page
  .login-icon
    .mantra-logo
      = link_to root_path do
        = image_tag('logo.svg')
  .login-block.join-request-block
    .login-title-block
      .title-text= t('join_request.new.title')
      .title-subtext= t('join_request.new.subtitle')
    .login-form
      = form_for :join_request, url: join_requests_path, method: :post do |f|
        .tournament-checkbox
          - for tournament in open_tournaments
            .tournament-container
              .checkbox-data
                .checkbox-team-logo= image_tag(tournament.logo_path, alt: 'Tournament Logo')
                .checkbox-team-name= tournament.name
              = f.check_box :leagues, {multiple: true}, tournament.id, nil
        .login-btn-form
          = f.submit t('join_request.new.confirm'), class: 'login-btn blue-btn'

:javascript
  $('.checkbox-data').on('click', function() {
    var $$ = $(this);
    if( !$$.is('.checked')){
      $$.addClass('checked');
      $$.closest(".tournament-container").find(":input").prop('checked', true);
    } else {
      $$.removeClass('checked');
      $$.closest(".tournament-container").find(":input").prop('checked', false);
    }
  });
