.success-page.header-grid.welcome-subpage
  .left-block
    .title-block
      .title-text= t('join_request.success.title')
      .title-bg
    .success-block
      .success-text= t('join_request.success.text1')
      .success-text= t('join_request.success.text2')
    .follow-block
      .follow-title= t('welcome.contact.follow')
      .follow-links
        .social-media-link
          = link_to 'https://www.instagram.com/mantrafootball', target: '_blank' do
            = image_tag('social_media/insta_col.png')
        .social-media-link
          = link_to 'https://t.me/mantrafootball', target: '_blank' do
            = image_tag('social_media/tg_col.png')
        .social-media-link
          = link_to 'https://www.facebook.com/mantrafootball', target: '_blank' do
            = image_tag('social_media/fb_col.png')
  .right-block
    .pitch-layer
    .player-layer
      .player-image-wrapper
        .player-image
          = image_tag(random_player_img_path)
