.local-header
  .local-header-close
    = link_to user_path(current_user) do
      &times;
  .local-header-text
    .local-header-title= t('users.change_avatar')
    .local-header-subtitle= t('users.change_avatar_desc')
  .local-header-link

.page-info
  .user-show.edit-user-avatar
    = form_for user, url: user_path(user), method: :put do |f|
      .cc-selector
        - (1..15).each do |avatar_id|
          = radio_button_tag :avatar, avatar_id, avatar_id == 1
          %label{ class: "drinkcard-cc avatar_#{avatar_id}", for: "avatar_#{avatar_id}"}
      .form-item.form-btn
        = f.submit t('users.update'), class: 'btn btn-primary welcome-btn-form'
