.local-header
  .local-header-close
    - if current_user.next_tour
      = link_to tour_path(current_user.active_league.active_tour_or_last) do
        &times;
    - else
      = link_to leagues_path do
        &times;
  .local-header-text
    .local-header-title= t('users.settings')
    .local-header-subtitle= t('users.settings_desc')
  .local-header-link
    = link_to destroy_user_session_path, method: :delete do
      ⛩ #{t('header.logout')}

.page-info.user-profile
  .user-show
    .user-data
      .user-title= t('users.profile_info')
      .user-data-block
        .user-params
          .user-subtitle= t('users.name')
          .user-param-value= current_user.name.presence || 'Username'
          = link_to t('users.change'), edit_user_path, class: 'change-link'
          .user-subtitle= t('users.email')
          .user-param-value= current_user.email
          .user-subtitle= t('users.password')
          .user-param-value **********
          = link_to t('users.change'), edit_user_registration_path, class: 'change-link'
        .user-avatar
          = image_tag(current_user.avatar_path)
          = link_to t('users.change'), edit_avatar_user_path(current_user), class: 'change-link'
    .user-teams
      .user-title= t('users.teams')
      - current_user.teams.each do |team|
        .user-team
          .user-team-logo= image_tag(team.logo_path)
          .user-team-data
            .user-team-name= team.human_name
            .user-team-league
              .user-team-league-title= t('users.league')
              .user-team-league-name= team.league&.name
          .user-team-activate
            = link_to t('users.edit_team'), edit_team_path(team), class: 'change-link'
            -# - unless current_user.active_team == team
            -#   = link_to t('users.activate'), user_path(current_user, active_team_id: team.id), method: :put, class: 'change-link'
    .user-config
      .user-title= t('users.positions_naming')
      .user-config-block
        .user-config-text
          .user-config-title= t('users.pos_naming_title')
          .user-config-subtitle= t('users.pos_naming_subtitle')
        .user-config-checkbox
          = link_to user_path(current_user, ital_pos_naming: !current_user.ital_pos_naming), method: :put do
            .checkbox-block{ class: "checkbox-on-#{ current_user.ital_pos_naming }" }
              .checkbox-item
    -#.user-config
    -#  .user-title= t('users.notifications')
    -#  .user-config-block
    -#    .user-config-text
    -#      .user-config-title= t('users.notifications_title')
    -#      .user-config-subtitle= "#{t('users.notifications_subtitle')} #{ current_user.email }"
    -#    .user-config-checkbox
    -#      = link_to user_path(current_user, notifications: !current_user.notifications), method: :put do
    -#        .checkbox-block{ class: "checkbox-on-#{ current_user.notifications }" }
    -#          .checkbox-item
