.page-block
  .web-header= render 'layouts/left_nav', league: nil
  .mob-header= render 'layouts/mob_header', league: nil, title: t('divisions.title')
  .page-info.divisions-page
    .divisions-title-bar
      .divisions-title
        = t('divisions.title')
    .divisions-grid-block
      .divisions-leagues.divisions-leagues-grid
        - @leagues.each do |league|
          .league-item{class: "slot-#{league.division.name}"}
            = link_to league_results_path(league) do
              .league-name= "#{league.division.name} | #{league.name}"
            .league-results
              - league.results.ordered.each_with_index do |result, i|
                = link_to team_path(result.team) do
                  .league-result
                    .league-result-position{class: "promotion-#{ i < league.promotion} relegation-#{ i >= (league.results.count - league.relegation)}"}= i + 1
                    .league-result-team= result.team.human_name
                    .league-result-points= result.points
