- matches.each do |match|
  .round-tournament-match
    .round-tournament-match-cell.round-tournament-match-team
      = link_to national_team_path(match.host_team) do
        .round-tournament-team-name
          = match.host_team.name
        .round-tournament-team-logo
          = flag_icon(match.host_team.code.to_sym, element: :div)
    .round-tournament-match-cell.round-tournament-match-cell-result
      - if match.host_score
        .round-tournament-match-result
          .round-tournament-match-result-text
            = "#{match.host_score}:#{match.guest_score}"
      - else
        = match.time
    .round-tournament-match-cell.round-tournament-match-team.round-tournament-match-guest
      = link_to national_team_path(match.guest_team) do
        .round-tournament-team-logo
          = flag_icon(match.guest_team.code.to_sym, element: :div)
        .round-tournament-team-name
          = match.guest_team.name
