- matches.each do |match|
  .round-tournament-match
    .round-tournament-match-cell.round-tournament-match-team
      -# TODO: add link to CLub page
      -# = link_to club_path(match.host_club) do
      = link_to '' do
        .round-tournament-team-name
          = match.host_club.name
        .round-tournament-team-logo
          %object{data: match.host_club.logo_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
            = image_tag('default_logo.png')
    .round-tournament-match-cell
      - if match.host_score
        - if current_user&.can_moderate?
          = link_to edit_tournament_round_path(match.tournament_round, club_id: [match.host_club.id, match.guest_club.id]) do
            .round-tournament-match-result
              .round-tournament-match-result-host= match.host_score
              .round-tournament-match-result-guest= match.guest_score
        - else
          .round-tournament-match-result
            .round-tournament-match-result-host= match.host_score
            .round-tournament-match-result-guest= match.guest_score
      - else
        = match.time
    .round-tournament-match-cell.round-tournament-match-team.round-tournament-match-guest
      -# TODO: add link to CLub page
      -# = link_to national_team_path(match.guest_club) do
      = link_to '' do
        .round-tournament-team-logo
          %object{data: match.guest_club.logo_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
            = image_tag('default_logo.png')
        .round-tournament-team-name
          = match.guest_club.name
