.page-block
  = render 'layouts/left_nav', league: nil
  .page-info.tournament-page
    .tournament-head
      .tournament-logo= image_tag(tournament.logo_path)
      .tournament-title
        = tournament.name
    .tournaments-fixture
      - national_fixtures.each do |t_round, matches|
        .round-title
          = "Round ##{t_round.number}"
        .round-matches
          = render 'national_matches', matches: matches
      - fixtures.each do |t_round, matches|
        .round-title
          = "Round ##{t_round.number}"
        .round-matches
          = render 'tournament_matches', matches: matches
