.page-block.team-transfers-page
  .web-header= render 'layouts/left_nav', league: team.league
  .web-header= render 'layouts/right_nav', league: team.league
  .mob-header= render 'layouts/mob_header', league: team.league
  .page-info
    .team-header
      .team-title-head
        .team-logo= image_tag(team.logo_path)
        .team-title
          = "#{team.human_name} #{t('teams.transfer_list')}"
      .team-data
        .team-data-row
          .team-data-item
            .team-data-title= t('teams.current_balance')
            .team-data-value
              = team.budget
          .team-data-item
            .team-data-title= t('teams.players_sale')
            .team-data-value#players-sale
              .players-sale.players-sale-current
                = team.prepared_sales_count
              .players-sale /
              .players-sale.players-sale-max
                = team.available_transfers
          .team-data-item
            .team-data-title= t('teams.possible_budget')
            .team-data-value#possible-budget
              = team.budget + team.player_teams.transferable.sum { |pt| pt.player.transfer_by(team)&.price }
    .team-players-list
      .default-headers.team-transfers-grid
        .default-header-cell= t('teams.player')
        .default-header-cell.team-players-header-position= t('teams.positions')
        .default-header-cell= t('teams.appearances')
        .default-header-cell= t('teams.rating')
        .default-header-cell= t('teams.club')
        .default-header-cell= t('teams.price')
        .default-header-cell= t('teams.status')
      = form_for :player_team, url: team_player_team_path(team, team.player_teams.first), method: :put do
        - team.player_teams.sort_by{ |pt| pt.player.position_sequence_number }.each do |pt|
          = fields_for "player_teams[]", pt do |pt_field|
            .team-player-item.team-transfers-grid
              .team-player-data
                .team-player-avatar
                  .player-show-face
                    %object{data: pt.player.avatar_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
                      = image_tag('avatar.png')
                  .player-show-kit
                    %object{data: pt.player.kit_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
                      = image_tag('kit_small_default.png')
                .team-player-name
                  .team-player-last-name
                    = pt.player.name
                  .team-player-first-name
                    = pt.player.first_name
              .team-player-position
                .player-positions-block
                  - pt.player.positions.each do |position|
                    .player-position{class: "player-position-#{position.name}"}
                      = position_name(position)
              .team-player-stats-number
                = pt.player.season_scores_count
              .team-player-stats-number.team-player-rating
                = pt.player.season_average_result_score
              .team-player-club
                %object{data: pt.player.club.logo_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
                  = image_tag('default_logo.png')
              .team-player-stats-number.team-player-rating.transfer-price
                = pt.player.transfer_by(team)&.price
              .team-player-transfer-status
                = pt_field.check_box :transfer_status, {'data-toggle' => 'toggle', 'data-onstyle' => 'warning', 'data-on' => "#{t('teams.sell')}", 'data-off' => "#{t('teams.keep')}", 'data-size' => 'medium', 'data-height' => '38'}, 'transferable', 'untouchable'
        .form-group
          = submit_tag t('teams.confirm_transfers')

  .portrait-footer{ class: "portrait-footer-#{team.league.mantra?}"}
    = render 'layouts/league_links', league: team.league

:javascript
  $(document).ready(function() {
    $(".team-player-transfer-status input").change(function(){
      const playerItem = $(this).closest(".team-player-item");
      const playerPrice = $(playerItem).children(".transfer-price").text();
      const possibleBudget = $("#possible-budget").text();
      const currentSalePlayers = $("#players-sale .players-sale-current");

      if(this.checked) {
        $("#possible-budget").text(Number(possibleBudget) + Number(playerPrice));
        currentSalePlayers.text(Number(currentSalePlayers.text()) + 1);
        // if(Number(currentSalePlayers.text() > 5)) {
        //   currentSalePlayers.css('color', 'red');
        // }
      } else {
        $("#possible-budget").text(Number(possibleBudget) - Number(playerPrice));
        currentSalePlayers.text(Number(currentSalePlayers.text()) - 1);
        if(Number(currentSalePlayers.text() < 6)) {
          currentSalePlayers.css('color', '#181715');
        }
      }
    });

    $(".form-group input").click(function(e){
      const currentSalePlayers = $("#players-sale .players-sale-current").text();
      const maxSalePlayers = $("#players-sale .players-sale-max").text();

      if(Number(currentSalePlayers) > Number(maxSalePlayers)) {
        e.preventDefault()
        alert("#{t('teams.transfers_limit', limit: team.available_transfers)}");
      }
    });
  });
