.page-block
  - if user_signed_in?
    .web-header= render 'layouts/left_nav', league: nil
    .mob-header= render 'layouts/mob_header', league: nil, title: t('welcome.about.title')
  - else
    = render 'layouts/header'
  .rules-page.about-page{ class: "rules-user-#{user_signed_in?}"}
    .rules-title
      .rules-title-icon 📜
      .rules-title-text= t('welcome.about.title')
    .rules-content
      .about-text.rules-text
        .rules-subtitle.rules-subtitle1= t('welcome.about.subtitle')
        .rules-paragraph.rules-paragraph-next= t('welcome.about.paragraph1')
        .rules-paragraph.rules-paragraph-next= t('welcome.about.paragraph2')
        .rules-paragraph.rules-paragraph-next= t('welcome.about.paragraph3')
        .rules-paragraph.rules-paragraph-next= t('welcome.about.paragraph4')
        .rules-subtitle.rules-paragraph-next.center= t('welcome.about.join')
  = render 'layouts/footer'
