.about-page.welcome-page.welcome-subpage.header-grid
  .left-block
    .title-block
      .title-text= t('welcome.about.title')
      .title-bg
    .about-block
      .about-item= t('welcome.about.item1')
      .about-item= t('welcome.about.item2')
      .about-item= t('welcome.about.item3')
      .about-item= t('welcome.about.item4')
      .about-item.join-us= t('welcome.about.item5')