.contact-page.welcome-subpage.header-grid
  .left-block
    .title-block
      .title-text= t('welcome.contact.title')
      .title-bg
    .contact-block
      .contact-text= t('welcome.contact.join')
      .social-media-link
        = link_to 'https://t.me/mantrafootballorg', target: '_blank' do
          = image_tag('social_media/tg_col.png')
    .contact-block
      .contact-text= t('welcome.contact.ask')
      .social-media-link
        = mail_to 'mantrafootball.info@gmail.com', target: '_blank' do
          = image_tag('social_media/gmail_col.png')
    .follow-block
      .follow-title= t('welcome.contact.follow')
      .follow-links
        .social-media-link
          = link_to 'https://www.instagram.com/mantrafootball', target: '_blank' do
            = image_tag('social_media/insta_col.png')
        .social-media-link
          = link_to 'https://t.me/mantrafootball', target: '_blank' do
            = image_tag('social_media/tg_col.png')
        .social-media-link
          = link_to 'https://www.facebook.com/mantrafootball', target: '_blank' do
            = image_tag('social_media/fb_col.png')

  .right-block
    .pitch-layer
    .player-layer
      .player-image-wrapper
        .player-image
          = image_tag(random_player_img_path)
