.page-block
  - if user_signed_in?
    = render 'layouts/left_nav', league: nil
  - else
    = render 'layouts/header'
  .rules-page{ class: "rules-user-#{user_signed_in?}"}
    .rules-title
      .rules-title-icon 📝
      .rules-title-text= t('welcome.fee.title')
    .fees-content
      .fees-text
        .fees-subtitle
          .fees-subtitle-p= t('welcome.fee.subtitle1')
          .fees-subtitle-p= t('welcome.fee.subtitle2')
          .fees-note
            .fees-note-icon ⚠️
            .fees-note-text= t('welcome.fee.note')
        .fees-desc
          .fees-desc-p= t('welcome.fee.paragraph1')
          .fees-desc-p= t('welcome.fee.paragraph2')
          .fees-desc-p= t('welcome.fee.paragraph3')
      .fees-types-section
        .fees-item
          .fees-type
            .type-desc
              .type-number= "#{t('welcome.fee.type')} #1"
              .type-value
                .type-value-number 400
                .type-value-uah ₴
              .type-per= t('welcome.fee.per_league')
              .type-play.grey-btn= link_to t('welcome.fee.play_now'), new_user_registration_path
          .type-list
            .type-league
              .type-league-icon= image_tag('tournaments/england.png')
              .type-league-data
                .type-league-name= t('welcome.fee.tournament.england')
                .type-league-type.right Mantra
                .type-league-country= t('welcome.fee.country.england')
            .type-league
              .type-league-icon= image_tag('tournaments/italy.png')
              .type-league-data
                .type-league-name= t('welcome.fee.tournament.italy')
                .type-league-type.right Mantra
                .type-league-country= t('welcome.fee.country.italy')
        .fees-item.fees-item-green
          .fees-type
            .type-desc
              .type-number= "#{t('welcome.fee.type')} #2"
              .type-value
                .type-value-number 300
                .type-value-uah ₴
              .type-per= t('welcome.fee.per_league')
              .type-play.grey-btn= link_to t('welcome.fee.play_now'), new_user_registration_path
          .type-list
            .type-league
              .type-league-icon= image_tag('tournaments/germany.png')
              .type-league-data
                .type-league-name= t('welcome.fee.tournament.germany')
                .type-league-type.right Mantra
                .type-league-country= t('welcome.fee.country.germany')
            .type-league
              .type-league-icon= image_tag('tournaments/spain.png')
              .type-league-data
                .type-league-name= t('welcome.fee.tournament.spain')
                .type-league-type.right Mantra
                .type-league-country= t('welcome.fee.country.spain')
            .type-league
              .type-league-icon= image_tag('tournaments/france.png')
              .type-league-data
                .type-league-name= t('welcome.fee.tournament.france')
                .type-league-type.right Mantra
                .type-league-country= t('welcome.fee.country.france')
            .type-league
              .type-league-icon= image_tag('tournaments/europe.png')
              .type-league-data
                .type-league-name= t('welcome.fee.tournament.europe')
                .type-league-type.right Fanta
                .type-league-country= t('welcome.fee.country.europe')
            -#.type-league
            -#  .type-league-icon= image_tag('tournaments/world_cup.png')
            -#  .type-league-data
            -#    .type-league-name World Cup 2022
            -#    .type-league-type.right Fanta
            -#    .type-league-country= t('welcome.fee.country.qatar')
        .fees-item.fees-item-violet
          .fees-type
            .type-desc
              .type-number= "#{t('welcome.fee.type')} #3"
              .type-value
                .type-value-number 200
                .type-value-uah ₴
              .type-per= t('welcome.fee.per_league')
              .type-play.grey-btn= link_to t('welcome.fee.play_now'), new_user_registration_path
          .type-list
            .type-league
              .type-league-icon= image_tag('tournaments/britain.png')
              .type-league-data
                .type-league-name= t('welcome.fee.tournament.england_2')
                .type-league-type.right Mantra
                .type-league-country= t('welcome.fee.country.england')
            .type-league
              .type-league-icon= image_tag('tournaments/netherlands.png')
              .type-league-data
                .type-league-name= t('welcome.fee.tournament.netherlands')
                .type-league-type.right Mantra
                .type-league-country= t('welcome.fee.country.netherlands')
            .type-league
              .type-league-icon= image_tag('tournaments/belgium.png')
              .type-league-data
                .type-league-name= t('welcome.fee.tournament.belgium')
                .type-league-type.right Mantra
                .type-league-country= t('welcome.fee.country.belgium')
            .type-league
              .type-league-icon= image_tag('tournaments/portugal.png')
              .type-league-data
                .type-league-name= t('welcome.fee.tournament.portugal')
                .type-league-type.right Mantra
                .type-league-country= t('welcome.fee.country.portugal')
      .fees-discounts
        .fees-discounts-title= t('welcome.fee.discounts')
        .slider-row
          .slider
            #new-discount.slider-item.slider-active= t('welcome.fee.new')
            #old-discount.slider-item= t('welcome.fee.old')
        .discount-items
          .discount-item.new-discount
            .discount-item-icon 🎊
            .discount-item-title= t('welcome.fee.discount1_title')
            .discount-item-text= t('welcome.fee.discount1_text')
            .discount-item-note= t('welcome.fee.discount1_note')
          .discount-item.old-discount
            .discount-item-icon 🕺
            .discount-item-title= t('welcome.fee.discount2_title')
            .discount-item-text= t('welcome.fee.discount2_text')
            .discount-item-note= t('welcome.fee.discount2_note')
          .discount-item.old-discount
            .discount-item-icon 💪
            .discount-item-title= t('welcome.fee.discount3_title')
            .discount-item-text= t('welcome.fee.discount3_text')
            .discount-item-note= t('welcome.fee.discount3_note')
  = render 'layouts/footer'

:javascript
  $(document).ready(function() {
    $("#old-discount").click(function(){
      $("#old-discount").addClass("slider-active");
      $("#new-discount").removeClass("slider-active");
      $(".new-discount").hide();
      $(".old-discount").show();
    });
    $("#new-discount").click(function(){
      $("#new-discount").addClass("slider-active");
      $("#old-discount").removeClass("slider-active");
      $(".old-discount").hide();
      $(".new-discount").show();
    });
  });
