.page-block
  - if user_signed_in?
    = render 'layouts/left_nav', league: nil
  - else
    = render 'layouts/header'
  .rules-page{ class: "rules-user-#{user_signed_in?}"}
    .rules-title
      .rules-title-icon 📝
      .rules-title-text= t('welcome.fee.title')
    .fees-content
      .fees-text
        .fees-subtitle
          .fees-subtitle-p= t('welcome.fee.subtitle1')
          .fees-subtitle-p= t('welcome.fee.subtitle2')
          .fees-note
            .fees-note-icon ⚠️
            .fees-note-text= t('welcome.fee.note')
        .fees-desc
          .fees-desc-p= t('welcome.fee.paragraph1')
          .fees-desc-p= t('welcome.fee.paragraph2')
          .fees-desc-p= t('welcome.fee.paragraph3')
      .fees-types-section
        .fees-item
          .fees-type
            .type-desc
              .type-number= "#{t('welcome.fee.type')} #1"
              .type-value
                .type-value-number 400
                .type-value-uah ₴
              .type-per= t('welcome.fee.per_league')
              .type-play.grey-btn= link_to t('welcome.fee.play_now'), new_user_registration_path
          .type-list
            .type-league
              .type-league-icon= image_tag('tournaments/epl.png')
              .type-league-data
                .type-league-name Premier League
                .type-league-type.right Mantra
                .type-league-country= t('welcome.fee.country.england')
            .type-league
              .type-league-icon= image_tag('tournaments/serie_a.png')
              .type-league-data
                .type-league-name Serie A
                .type-league-type.right Mantra
                .type-league-country= t('welcome.fee.country.italy')
            .type-league
              .type-league-icon= image_tag('tournaments/upl.png')
              .type-league-data
                .type-league-name Ukrainian Premier League
                .type-league-type.right Mantra
                .type-league-country= t('welcome.fee.country.ukraine')
        .fees-item.fees-item-green
          .fees-type
            .type-desc
              .type-number= "#{t('welcome.fee.type')} #2"
              .type-value
                .type-value-number 300
                .type-value-uah ₴
              .type-per= t('welcome.fee.per_league')
              .type-play.grey-btn= link_to t('welcome.fee.play_now'), new_user_registration_path
          .type-list
            .type-league
              .type-league-icon= image_tag('tournaments/bundesliga.png')
              .type-league-data
                .type-league-name Bundesliga
                .type-league-type.right Mantra
                .type-league-country= t('welcome.fee.country.germany')
            .type-league
              .type-league-icon= image_tag('tournaments/laliga.png')
              .type-league-data
                .type-league-name La Liga
                .type-league-type.right Mantra
                .type-league-country= t('welcome.fee.country.spain')
            .type-league
              .type-league-icon= image_tag('tournaments/ligue_1.png')
              .type-league-data
                .type-league-name Ligue 1
                .type-league-type.right Mantra
                .type-league-country= t('welcome.fee.country.france')
            .type-league
              .type-league-icon= image_tag('tournaments/champions_league.png')
              .type-league-data
                .type-league-name Champions League
                .type-league-type.right Fanta
                .type-league-country= t('welcome.fee.country.europe')
            -#.type-league
            -#  .type-league-icon= image_tag('tournaments/world_cup.png')
            -#  .type-league-data
            -#    .type-league-name World Cup 2022
            -#    .type-league-type.right Fanta
            -#    .type-league-country= t('welcome.fee.country.qatar')
        .fees-item.fees-item-violet
          .fees-type
            .type-desc
              .type-number= "#{t('welcome.fee.type')} #3"
              .type-value
                .type-value-number 200
                .type-value-uah ₴
              .type-per= t('welcome.fee.per_league')
              .type-play.grey-btn= link_to t('welcome.fee.play_now'), new_user_registration_path
          .type-list
            .type-league
              .type-league-icon= image_tag('tournaments/championship.png')
              .type-league-data
                .type-league-name Championship
                .type-league-type.right Mantra
                .type-league-country= t('welcome.fee.country.england')
            .type-league
              .type-league-icon= image_tag('tournaments/eredivisie.png')
              .type-league-data
                .type-league-name Eredivisie
                .type-league-type.right Mantra
                .type-league-country= t('welcome.fee.country.netherlands')
            .type-league
              .type-league-icon= image_tag('tournaments/jupiler.png')
              .type-league-data
                .type-league-name Jupiler Pro
                .type-league-type.right Mantra
                .type-league-country= t('welcome.fee.country.belgium')
            .type-league
              .type-league-icon= image_tag('tournaments/liga_portugal.png')
              .type-league-data
                .type-league-name Liga Portugal
                .type-league-type.right Mantra
                .type-league-country= t('welcome.fee.country.portugal')
      .fees-discounts
        .fees-discounts-title= t('welcome.fee.discounts')
        .slider-row
          .slider
            #new-discount.slider-item.slider-active= t('welcome.fee.new')
            #old-discount.slider-item= t('welcome.fee.old')
        .discount-items
          .discount-item.new-discount
            .discount-item-icon 🎊
            .discount-item-title= t('welcome.fee.discount1_title')
            .discount-item-text= t('welcome.fee.discount1_text')
            .discount-item-note= t('welcome.fee.discount1_note')
          .discount-item.old-discount
            .discount-item-icon 🕺
            .discount-item-title= t('welcome.fee.discount2_title')
            .discount-item-text= t('welcome.fee.discount2_text')
            .discount-item-note= t('welcome.fee.discount2_note')
          .discount-item.old-discount
            .discount-item-icon 💪
            .discount-item-title= t('welcome.fee.discount3_title')
            .discount-item-text= t('welcome.fee.discount3_text')
            .discount-item-note= t('welcome.fee.discount3_note')
  = render 'layouts/footer'

:javascript
  $(document).ready(function() {
    $("#old-discount").click(function(){
      $("#old-discount").addClass("slider-active");
      $("#new-discount").removeClass("slider-active");
      $(".new-discount").hide();
      $(".old-discount").show();
    });
    $("#new-discount").click(function(){
      $("#new-discount").addClass("slider-active");
      $("#old-discount").removeClass("slider-active");
      $(".old-discount").hide();
      $(".new-discount").show();
    });
  });
