.guide-page.welcome-page.welcome-subpage.header-grid
  .left-block
    .title-block
      .title-text= t('welcome.guide.game_guide')
      .title-bg
    .guide-block
      %ul.nav.nav-tabs.nav-fill
        %li.nav-item
          %a{"data-toggle" => "tab", href: "#rules-auction", class: 'nav-link active'}= t('welcome.guide.auction')

        %li.nav-item
          %a{"data-toggle" => "tab", href: "#rules-modules", class: 'nav-link'}= t('welcome.guide.modules')

        %li.nav-item
          %a{"data-toggle" => "tab", href: "#rules-players", class: 'nav-link'}= t('welcome.guide.players')

        %li.nav-item
          %a{"data-toggle" => "tab", href: "#rules-results", class: 'nav-link'}= t('welcome.guide.results')

        %li.nav-item
          %a{"data-toggle" => "tab", href: "#rules-prizes", class: 'nav-link'}= t('welcome.guide.price')

        %li.nav-item
          %a{"data-toggle" => "tab", href: "#rules-faqs", class: 'nav-link'}= t('welcome.guide.faq')

      .tab-content
        = render 'welcome/rules/auction'
        = render 'welcome/rules/modules'
        = render 'welcome/rules/players'
        = render 'welcome/rules/results'
        = render 'welcome/rules/prizes'
        = render 'welcome/rules/faqs'
  .right-block
    .pitch-layer
    .player-layer
      .player-image-wrapper
        .player-image
          = image_tag('welcome_persons/pep.png')

