= render 'layouts/header'
.landing-page
  .mantra-section
    .mantra-section-title
      .mantra-section-title-stroke MANTRA
      .mantra-section-title-main MANTRA
    .mantra-section-slogan
      .slogan-start
        = t('welcome.index.slogan1')
      .slogan-end
        = t('welcome.index.slogan2')
    .mantra-section-actions
      = link_to new_user_session_path do
        .grey-btn.landing-action.landing-action-login= t('header.login')
      = link_to new_join_request_path do
        .blue-btn.landing-action.landing-action-start= t('header.start_playing')
    .mantra-section-images
      .mantra-section-image-field
        = image_tag('landing/field.svg')
      .mantra-section-image-team
        = image_tag('landing/team.png')
  .what-is-section
    .what-is-title= t('welcome.index.what_is.mantra')
    .what-is-content
      .what-is-left
        .what-is-left-title= t('welcome.index.what_is.subtitle')
        .what-is-item
          .what-is-item-icon 😎
          .what-is-item-text
            .what-is-item-title= t('welcome.index.what_is.friends')
            .what-is-item-description= t('welcome.index.what_is.friends_text')
        .what-is-item
          .what-is-item-icon.what-is-item-icon-drive ️🐐
          .what-is-item-text
            .what-is-item-title= t('welcome.index.what_is.drive')
            .what-is-item-description= t('welcome.index.what_is.drive_text')
        .what-is-item
          .what-is-item-icon.what-is-item-icon-strategy 🎯
          .what-is-item-text
            .what-is-item-title= t('welcome.index.what_is.strategy')
            .what-is-item-description= t('welcome.index.what_is.strategy_text')
        .what-is-item
          .what-is-item-icon.what-is-item-icon-success 🏆
          .what-is-item-text
            .what-is-item-title= t('welcome.index.what_is.success')
            .what-is-item-description= t('welcome.index.what_is.success_text')
      .screen-block
        .screen-dots-line
          .screen-dot
          .screen-dot
          .screen-dot
        .screen-img
  .better-section
    .better-title1= t('welcome.index.better.than')
    .better-title2= t('welcome.index.better.classic')
    .better-items-list
    .better-links

-#.root-page.welcome-page.header-grid
-#  .left-block
-#    .title-block
-#      .title-text Mantra Football
-#      .title-bg
-#    .slogan-block
-#      .slogan-start
-#        = t('welcome.index.slogan1')
-#      .slogan-end
-#        = t('welcome.index.slogan2')
-#    .description-block
-#      .description-title
-#        = t('welcome.index.description_title')
-#      .description-item
-#        .description-icon
-#          = image_tag("icons/smile1.png")
-#        .description-text
-#          = t('welcome.index.description1')
-#      .description-item
-#        .description-icon.description-icon2
-#          = image_tag("icons/smile2.png")
-#        .description-text
-#          = t('welcome.index.description2')
-#      .description-item
-#        .description-icon.description-icon3
-#          = image_tag("icons/smile3.png")
-#        .description-text
-#          = t('welcome.index.description3')
-#      .description-item
-#        .description-icon.description-icon4
-#          = image_tag("icons/smile4.png")
-#        .description-text
-#          = t('welcome.index.description4')
-#    .team-image
-#      = image_tag('welcome_persons/liverpool.png')
-#
-#
-#  .right-block
-#    .pitch-layer
-#    .player-layer
-#      .player-image-wrapper
-#        .player-image
-#          = image_tag('welcome_persons/ciro.png')
