.rules-page.header-grid.welcome-subpage
  .left-block
    .title-block
      .title-text= t('welcome.rules.game_rules')
      .title-bg
    .rules-block
      .rules-item
        .rules-subtitle= t('welcome.rules.subtitle01')
        .rules-subtitle= t('welcome.rules.subtitle02')
      .rules-item
        .rules-title= t('welcome.rules.title1')
        .rules-subtitle= t('welcome.rules.subtitle1')
        .rules-description= t('welcome.rules.description1')
      .rules-item
        .rules-title= t('welcome.rules.title2')
        .rules-subtitle= t('welcome.rules.subtitle2')
        .rules-description= t('welcome.rules.description2')
      .rules-item
        .rules-title= t('welcome.rules.title3')
        .rules-subtitle= t('welcome.rules.subtitle3')
        .rules-description= t('welcome.rules.description3')
      .rules-item
        .rules-title= t('welcome.rules.title4')
        .rules-subtitle= t('welcome.rules.subtitle4')
        .rules-description= t('welcome.rules.description4')
      .rules-item
        .rules-title= t('welcome.rules.title5')
        .rules-subtitle= t('welcome.rules.subtitle5')
        .rules-description= t('welcome.rules.description5')
  .right-block
    .pitch-layer
    .player-layer
      .player-image-wrapper
        .player-image
          = image_tag('welcome_persons/dean.png')
