.page-info.table-results
  .table-title Table
  .table-block
    .table-headers.table-grid
      .table-header-item
      .table-header-item
      .table-header-item
      .table-header-item GAMES
      .table-header-item WINS
      .table-header-item DRAWS
      .table-header-item LOSES
      .table-header-item GF
      .table-header-item GA
      .table-header-item GD
      .table-header-item POINTS
      .table-header-item.form-cell FORM
      .table-header-item NEXT
    - @results.each_with_index do |result, i|
      .table-team-item.table-grid
        .table-team-param.table-team-prize{ class: "place#{i}" }
        .table-team-param.center= i+1
        .table-team-param.table-team-data
          = link_to team_path(result.team) do
            .results-team-logo
              = image_tag(image_path(result.team.logo_path))
            .results-team-name
              = result.team.human_name.titleize[0..18]
        .table-team-param
          = result.matches_played
        .table-team-param
          = result.wins
        .table-team-param
          = result.draws
        .table-team-param
          = result.loses
        .table-team-param
          = result.scored_goals
        .table-team-param
          = result.missed_goals
        .table-team-param
          = result.goals_difference
        .table-team-param.table-team-points
          = result.points
        .table-team-param.form-cell
          - result.form.each do |form|
            .team-form-item{ class: "team-form-#{form[0]}" }
              = form[0]
        .table-team-param.table-team-opponent
          - if result.team.next_opponent
            = image_tag(result.team.next_opponent.logo_path)
