.page-info
  .list-items.results-headers.center
    .results-header-cell{title: 'Position'} Pos
    .results-header-cell Team
    .results-header-cell.results-stats-cell
      .results-header{title: 'Matches played'}  MP
      .results-header{title: 'Wins'}  W
      .results-header{title: 'Draws'}  D
      .results-header{title: 'Loses'}  L
      .results-header{title: 'Scored goals'}  GS
      .results-header{title: 'Missed goals'} GA
      .results-header{title: 'Goals difference'} GD
      .results-header{title: 'Points'} Pts
    .results-header-cell{title: 'Last 5 matches'} Form
  .list-items.list-items-dark.list-items-dark50.list-results.center
    - @results.each_with_index do |result, i|
      .list-row-item
        .list-row-cell= i+1
        .list-row-cell.results-team
          = link_to team_path(result.team) do
            .results-team-logo
              = image_tag(image_path(result.team.logo_path), alt: "Team Logo")
            .results-team-name
              = result.team.code_name
        .list-row-cell.results-team-stats
          .results-team-field
            = result.matches_played
          .results-team-field
            = result.wins
          .results-team-field
            = result.draws
          .results-team-field
            = result.loses
          .results-team-field.results-hidden
            = result.scored_goals
          .results-team-field.results-hidden
            = result.missed_goals
          .results-team-field
            = result.goals_difference
          .results-team-field.results-team-points
            = result.points
        .list-row-cell.results-team-form.center
          -# TODO: temporarily hidden until fixed result#form
          -#- result.form.each do |form|
          -#  .form-item{ class: "form-#{form[0]}", title: "#{form[1]} vs #{form[2]}, #{form[3]} tour" }
