.container
  .results-table
    .results-headers
      .results-header{title: 'Position'} Pos
      .results-header
      .results-header.results-team-name Team
      .results-header{title: 'Matches played'}  MP
      .results-header{title: 'Wins'}  W
      .results-header{title: 'Draws'}  D
      .results-header{title: 'Loses'}  L
      .results-header.results-hidden{title: 'Scored goals'}  GS
      .results-header.results-hidden{title: 'Missed goals'} GA
      .results-header{title: 'Goals difference'} GD
      .results-header{title: 'Points'} Pts
      .results-header.results-hidden{title: 'Last 5 matches'} Form
    - @results.each_with_index do |result, i|
      .results-team
        .results-team-field= i+1
        .results-team-field
          .results-team-logo
            %img{alt: "Logo", src: image_path(result.team.logo_path)}
        .results-team-field.results-team-name
          = result.team.name.titleize
        .results-team-field
          = result.matches_played
        .results-team-field
          = result.wins
        .results-team-field
          = result.draws
        .results-team-field
          = result.loses
        .results-team-field.results-hidden
          = result.scored_goals
        .results-team-field.results-hidden
          = result.missed_goals
        .results-team-field
          = result.goals_difference
        .results-team-field.results-team-points
          = result.points
        .results-team-field.results-team-form.results-hidden
          - result.form.each do |form|
            %span.badge{class: result_status_class(form) }
              = form
