= form_for [team, lineup], url: team_lineup_path(team, lineup), method: :put do |f|
  #lineup_form{data: team.players.to_json}

  = f.fields_for :match_players do |match_players|
    - if lineup.team_module.slots[match_players.index]&.position
      .alert.alert-success
        = match_players.hidden_field(:real_position, value: lineup.team_module.slots[match_players.index]&.position)
        .input-group
          %span.input-group-text
            = "#{lineup.team_module.slots[match_players.index]&.position} - #{match_players.object.total_score}"
          = match_players.select :player_id, available_for_select_by_positions(team, positions: lineup.team_module.slots[match_players.index]&.positions_with_malus), {}, disabled: lineup.tour.closed?
          %span.input-group-text Score
          = match_players.number_field :score, in: 0..11, step: :any
          %span.input-group-text R/C
          .checkbox
            = match_players.check_box :red_card, {'data-toggle' => "toggle"}
          %span.input-group-text Y/C
          .checkbox
            = match_players.check_box :yellow_card, {'data-toggle' => "toggle"}
          %span.input-group-text A
          = match_players.number_field :assits, in: 0..9, step: :any, class: 'small-number'
          %span.input-group-text G
          = match_players.number_field :goals, in: 0..9, step: :any, class: 'small-number'
          - if Position::DEFENSIVE.include? lineup.team_module.slots[match_players.index]&.position
            %span.input-group-text Cleansheet
            .checkbox
              = match_players.check_box :cleansheet, {'data-toggle' => "toggle"}
          - if lineup.team_module.slots[match_players.index]&.position == 'Por'
            .input-group-prepend
              %span.input-group-text Missed
              = match_players.number_field :missed_goals, in: 0..11, step: :any, value: 0, class: 'small-number'
    - else
      .alert.alert-warning
        = lineup.team_module.slots[match_players.index]&.position
        = match_players.select :player_id, available_for_select(team), {}, disabled: 'disabled'
        = match_players.number_field :score, in: 0..11, step: :any, value: 0, class: 'small-number'
  .form-group
    = f.submit 'Update', class: 'btn btn-success btn-block'
