-# TODO: update UI
.alert{class: squad_class(mp)}
  .lineup-show-player
    .lineup-show-position
      = image_tag("positions/#{mp.real_position.gsub('/','_')}.png") if mp.real_position
    .lineup-show-club-logo
      .club-logo.lineup-club-logo
        = image_tag(mp.player.club.logo_path, alt: 'Club Logo')
    .lineup-show-name
      = link_to mp.player.name, team_player_path(team, mp.player)
    .lineup-show-pl-positions
      - mp.player.positions.each do |position|
        .position-image.inline-block
          = image_tag("positions/#{position.name}.png")
    .lineup-show-score
      = mp.score
    .lineup-show-bonus
      - unless mp.initial?
        = image_tag("bonuses/#{mp.subs_status}.png", title: 'Subs Status')
    .lineup-show-total-score
      = mp.total_score
