.alert{class: mp.real_position ? 'alert-success' : 'alert-warning'}
  .lineup-show-player
    .lineup-show-position
      = image_tag("positions/#{mp.real_position.gsub('/','_')}.png") if mp.real_position
    .lineup-show-name
      = mp.player.name
    .lineup-show-pl-positions
      - mp.player.positions.each do |position|
        .position-image.inline-block
          = image_tag("positions/#{position.name}.png")
    .lineup-show-score
      = mp.score
    .lineup-show-bonus
      - unless mp.initial?
        = image_tag("bonuses/#{mp.subs_status}.png", title: 'Subs Status')
    .lineup-show-total-score
      = mp.total_score
