.l-details-item-param.l-details-position
  .club-logo.l-details-club-logo
    = image_tag(mp.player.club.logo_path, alt: 'Club Logo')
.l-details-item-param.l-details-player-name
  = link_to mp.player.name, player_path(mp.player)
  .subs-image
    = image_tag("bonuses/get_in.png", title: 'Subs Status') if mp.get_in?
    = image_tag("bonuses/get_out.png", title: 'Subs Status') if mp.get_out?
.l-details-item-param.l-details-player-tscore{class: score_class(mp)}
  = mp.total_score
.l-details-item-param{class: score_class(mp)}
  = mp.score
- if mp.player.positions_names_string == 'Por'
  .l-details-item-param
    - if mp.missed_goals.to_i.nonzero?
      = image_tag("bonuses/mg.png", title: 'Missed goal')
      - if mp.missed_goals.to_i > 1
        .badge.badge-danger.bonus-badge= mp.missed_goals.to_i
  .l-details-item-param
    - if mp.caught_penalty.to_i.nonzero?
      = image_tag("bonuses/pen.png", title: 'Caught penalty')
      - if mp.caught_penalty.to_i > 1
        .badge.badge-warning.bonus-badge= mp.caught_penalty.to_i
  .l-details-item-param
    - if mp.missed_penalty.to_i.nonzero?
      = image_tag("bonuses/mg.png", title: 'Missed penalty')
      - if mp.missed_penalty.to_i > 1
        .badge.badge-danger.bonus-badge= mp.missed_penalty.to_i
- else
  .l-details-item-param
    - if mp.goals.to_i.nonzero?
      = image_tag("bonuses/goal.png", title: 'Goal')
      - if mp.goals.to_i > 1
        .badge.badge-success.bonus-badge= mp.goals.to_i
  .l-details-item-param
    - if mp.scored_penalty.to_i.nonzero?
      = image_tag("bonuses/pen.png", title: 'Scored penalty')
      - if mp.scored_penalty.to_i > 1
        .badge.badge-warning.bonus-badge= mp.scored_penalty.to_i
  .l-details-item-param
    - if mp.failed_penalty.to_i.nonzero?
      = image_tag("bonuses/mg.png", title: 'Failed penalty')
      - if mp.failed_penalty.to_i > 1
        .badge.badge-danger.bonus-badge= mp.failed_penalty.to_i
.l-details-item-param
  - if mp.assists.to_i.nonzero?
    = image_tag("bonuses/assist.png", title: 'Assist')
    - if mp.assists.to_i > 1
      .badge.badge-warning.bonus-badge= mp.assists.to_i

.l-details-item-param
  = image_tag("bonuses/yc.png", title: 'Yellow card') if mp.yellow_card
.l-details-item-param
  = image_tag("bonuses/rc.png", title: 'Red card') if mp.red_card
.l-details-item-param
  - if mp.own_goals.to_i.nonzero?
    = image_tag("bonuses/autogol.png", title: 'Own goal')
    - if mp.own_goals.to_i > 1
      .badge.badge-warning.bonus-badge= mp.own_goals.to_i
.l-details-item-param
  = image_tag("bonuses/cs.png", title: 'Clean sheet') if mp.cleansheet
.l-details-item-param
  - if mp.position_malus.nonzero?
    .badge.badge-danger= mp.position_malus
.l-details-item-param.l-details-sub-param.l-details-player-positions
  - mp.player.positions.each do |position|
    .l-details-position-image
      = image_tag("positions/#{position.name}.png")
