-# TODO: update UI
= form_for [team, lineup], url: team_lineup_path(team, lineup), method: :put do |f|
  = f.fields_for :match_players do |match_players|
    - if lineup.slots[match_players.index]&.position
      .alert.alert-success
        = match_players.hidden_field(:real_position, value: lineup.slots[match_players.index]&.position)
        .input-group
          .input-group-prepend
            %label.input-group-text{for: "mp-#{match_players.index}"} #{lineup.slots[match_players.index]&.position}
          = match_players.select :player_id, available_for_select_by_positions(team, positions: lineup.slots[match_players.index]&.positions_with_malus), {}, disabled: lineup.tour.closed?, class: 'custom-select', id: "mp-#{match_players.index}"
    - else
      .alert.alert-warning
        .input-group
          .input-group-prepend
            %label.input-group-text{for: "mp-#{match_players.index}"} Reserve
          = match_players.select :player_id, available_for_select(team), {}, disabled: lineup.tour.closed?, class: 'custom-select', id: "mp-#{match_players.index}"
  .form-group
    = f.submit 'Update', class: 'btn btn-success btn-block'
