.modal-player-item{id: "player#{player.id}"}
  .modal-player-images{style: "background-color: ##{ player.club.color };"}
    .player-show-face
      %object{data: player.avatar_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
        = image_tag('avatar.png')
    .player-show-kit
      %object{data: player.kit_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
        = image_tag('kit_small_default.png')
  .modal-player-data
    .player-positions
      - player.player_positions.includes(:position).each do |player_position|
        .position-item{class: "position-item-#{player_position.position.name}"}
          = position_name(player_position.position)
  -#  .player-score
  -#    = player.season_average_result_score
  .modal-player-name
    = player.name
  .modal-player-match
    - if tour
      .player-match-team.player-match-place
        - if player.club.match_host?(tour.tournament_round)
          = t('lineups.home')
        - else
          = t('lineups.away')
      .player-match-team
        vs
      .player-match-team
        %object{data: player.club.opponent_by_round(tour.tournament_round).logo_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
          = image_tag('default_logo.png')
