.modal-player-item{id: "player#{player.id}"}
  .modal-player-images{style: "background-color: ##{ player.club.color };"}
    .player-show-face
      %object{data: player.avatar_path, type: 'image/jpg'}
        = image_tag('avatar.png')
    .player-show-kit
      %object{data: player.kit_path, type: 'image/jpg'}
        = image_tag('kit_small_default2.png')
    -#.player-show-positions
    -#  - player.position_names.reverse.each do |position|
    -#    .slot-position{class: "slot-position-#{position&.tr('/', '')}"}
    -#      = position
  .modal-player-data
    .player-positions
      - player.position_names.each do |position|
        .position-item{class: "position-item-#{position}"}
          = position.upcase
    .player-score
      = player.season_average_result_score
  .modal-player-name
    = player.name
  .modal-player-match
    .player-match-team
      %object{data: player.club.logo_path, type: 'image/jpg'}
        = image_tag('default_logo.png')
    .player-match-team
      vs
    .player-match-team
      %object{data: player.club.opponent_by_round(tour.tournament_round).logo_path, type: 'image/jpg'}
        = image_tag('default_logo.png')
