.input-group.mp-edit-item
  .mp-edit-item-param.mp-edit-position
    - if lineup.slots[match_player.index]&.position
      .slot-position{class: "slot-position-#{lineup.slots[match_player.index]&.position.tr('/', '')}"}
        = lineup.slots[match_player.index]&.position
  .mp-edit-item-param.mp-edit-player-club
    .l-details-item-param
      .club-logo.l-details-club-logo
        = image_tag(match_player.object.player.club.logo_path, alt: 'Club Logo')
  .mp-edit-item-param.mp-edit-player-name
    = match_player.object.player.full_name
  .mp-edit-item-param.mp-edit-player-native-positions
    - match_player.object.player.positions.each do |position|
      .l-details-position-image
        = image_tag("positions/#{position.name}.png")
  .mp-edit-item-param.mp-edit-player-tscore{class: score_class(match_player.object)}
    = match_player.object.total_score
  .mp-edit-item-param.mp-edit-player-score
    = match_player.object.score
  - if lineup.slots[match_player.index]&.position == 'Por'
    .mp-edit-item-param
      - if match_player.object.round_player.missed_goals.to_i.nonzero?
        = image_tag("bonuses/mg.png", title: 'Missed goal')
        - if match_player.object.round_player.missed_goals.to_i > 1
          .badge.badge-danger.bonus-badge= match_player.object.round_player.missed_goals.to_i
    .mp-edit-item-param
      - if match_player.object.round_player.caught_penalty.to_i.nonzero?
        = image_tag("bonuses/pen.png", title: 'Caught penalty')
        - if match_player.object.round_player.caught_penalty.to_i > 1
          .badge.badge-warning.bonus-badge= match_player.object.round_player.caught_penalty.to_i
    .mp-edit-item-param
      - if match_player.object.round_player.missed_penalty.to_i.nonzero?
        = image_tag("bonuses/mg.png", title: 'Missed penalty')
        - if match_player.object.round_player.missed_penalty.to_i > 1
          .badge.badge-danger.bonus-badge= match_player.object.round_player.missed_penalty.to_i
  - else
    .mp-edit-item-param
      - if match_player.object.round_player.goals.to_i.nonzero?
        = image_tag("bonuses/goal.png", title: 'Goal')
        - if match_player.object.round_player.goals.to_i > 1
          .badge.badge-success.bonus-badge= match_player.object.round_player.goals.to_i
    .mp-edit-item-param
      - if match_player.object.round_player.scored_penalty.to_i.nonzero?
        = image_tag("bonuses/pen.png", title: 'Scored penalty')
        - if match_player.object.round_player.scored_penalty.to_i > 1
          .badge.badge-warning.bonus-badge= match_player.object.round_player.scored_penalty.to_i
    .mp-edit-item-param
      - if match_player.object.round_player.failed_penalty.to_i.nonzero?
        = image_tag("bonuses/mg.png", title: 'Failed penalty')
        - if match_player.object.round_player.failed_penalty.to_i > 1
          .badge.badge-danger.bonus-badge= match_player.object.round_player.failed_penalty.to_i
  .mp-edit-item-param
    - if match_player.object.round_player.assists.to_i.nonzero?
      = image_tag("bonuses/assist.png", title: 'Assist')
      - if match_player.object.round_player.assists.to_i > 1
        .badge.badge-warning.bonus-badge= match_player.object.round_player.assists.to_i
  .mp-edit-item-param
    = image_tag("bonuses/yc.png", title: 'Yellow card') if match_player.object.round_player.yellow_card
  .mp-edit-item-param
    = image_tag("bonuses/rc.png", title: 'Red card') if match_player.object.round_player.red_card
  .mp-edit-item-param
    - if match_player.object.round_player.own_goals.to_i.nonzero?
      = image_tag("bonuses/autogol.png", title: 'Own goal')
      - if match_player.object.round_player.own_goals.to_i > 1
        .badge.badge-warning.bonus-badge= match_player.object.round_player.own_goals.to_i

  .mp-edit-item-param
    - if lineup.slots[match_player.index]&.position && lineup.slots[match_player.index]&.position != 'Por'
      = match_player.number_field :position_malus, in: 0..4.5, step: 1.5, class: 'form-control'
  .mp-edit-item-param
    - if lineup.slots[match_player.index] && (Position::CLEANSHEET_ZONE & lineup.slots[match_player.index].positions).present?
      = match_player.check_box :cleansheet, {'data-toggle' => 'toggle', 'data-onstyle' => 'success', 'data-on' => 'Yes', 'data-off' => 'No', 'data-size' => 'small', 'data-height' => '38'}
