= form_for [team, lineup], url: team_lineup_path(team, lineup), method: :put do |f|
  = f.fields_for :match_players do |match_players|
    - if lineup.team_module.slots[match_players.index]&.position
      .alert.alert-success
        = match_players.hidden_field(:real_position, value: lineup.team_module.slots[match_players.index]&.position)
        .input-group
          %span.input-group-text
            = lineup.team_module.slots[match_players.index]&.position
          = match_players.select :player_id, available_for_select_by_positions(team, positions: lineup.team_module.slots[match_players.index]&.positions_with_malus), {}, disabled: lineup.tour.closed?
    - else
      .alert.alert-warning
        = lineup.team_module.slots[match_players.index]&.position
        = match_players.select :player_id, available_for_select(team), {}
  .form-group
    = f.submit 'Update', class: 'btn btn-success btn-block'
