-#.page-header
-#  .page-header-icon
-#    = image_tag('navbar/lineups.png')
-#  .page-header-title
-#    %span.bolder
-#      = link_to team.name.upcase, team_path(team)
-#    | Round
-#    %span.bolder
-#      = link_to lineup.tour.number, tour_path(lineup.tour)
.flash-block
  - flash.each do |key, value|
    = content_tag :div, value, class: "flash-item flash-#{key}"

.page-info
  .lineup-actions
    .list-items.list-action-items.center
      .list-row-item
        - if !lineup.tour.inactive?
          = link_to 'LINEUP', team_lineup_path(team, lineup), class: 'list-row-cell'
        - if current_user == team.user && lineup.tour.set_lineup?
          = link_to 'EDIT LINEUP', edit_team_lineup_path(team, lineup), class: 'list-row-cell'
          = link_to 'EDIT MODULE', team_lineup_edit_module_path(team, lineup), class: 'list-row-cell'
        - if lineup.tour.locked_or_postponed? && current_user&.can_moderate?
          = link_to 'MAKE SUBSTITUTION', team_lineup_substitutions_path(team, lineup), class: 'list-row-cell'
          = link_to 'EDIT SCORES', team_lineup_edit_scores_path(team, lineup), class: 'list-row-cell'
  .lineup-info
    .list-items.list-items-60-height.center
      .list-row-item
        .list-row-cell.module-cell MODULE
        .list-row-cell
          = lineup.team_module.name
    .list-items.list-items-60-height.center
      .list-row-item
        .list-row-cell DEFENCE BONUS
        .list-row-cell
          = lineup.defence_bonus
    .list-items.list-items-60-height.center
      .list-row-item
        .list-row-cell TOTAL SCORE
        .list-row-cell
          = lineup.total_score
  .lineup-details-block
    .l-details-block
      .l-details-players-info
        .l-details-headers
          .l-details-header{title: 'Position'} Pos
          .l-details-header Club
          .l-details-header Player
          .l-details-header{title: 'Total score'} TS
          .l-details-header{title: 'Base score'} BS
          .l-details-header{title: 'Goals / Missed goals'} G/MG
          .l-details-header{title: 'Scored penalty / Caught penalty'} SP/CP
          .l-details-header{title: 'Failed penalty / Missed penalty'} FP/MP
          .l-details-header{title: 'Assists'} A
          .l-details-header{title: 'Yellow card'} YC
          .l-details-header{title: 'Red card'} RC
          .l-details-header{title: 'Own goals'} OG
          .l-details-header{title: 'Clean sheet'} CS
          .l-details-header{title: 'Position malus'} PM
          .l-details-header{title: 'Native Positions'} NP

        - lineup.match_players.main.each_with_index do |mp, index|
          .l-details-item
            .l-details-item-param.l-details-position.position-cell
              .slot-position{class: "slot-position-#{mp.real_position.tr('/', '')}"}
                = mp.real_position
            = render 'details_params', mp: mp, index: index

        .l-details-subs-bench-title RESERVE
        .l-details-subs-bench
          - lineup.match_players.subs_bench.each_with_index do |mp, index|
            .l-details-item
              .l-details-item-param.l-details-position.position-cell
                .slot-position.slot-position-res
                  = "R#{index+1}"
              = render 'details_params', mp: mp, index: index

        .l-details-subs-bench-title NOT DECLARED
        .l-details-subs-bench
          - lineup.match_players.not_in_squad.each_with_index do |mp, index|
            .l-details-item
              .l-details-item-param.l-details-position.position-cell
                .slot-position.slot-position-not-declared
                  = "N#{index+1}"
              = render 'details_params', mp: mp, index: index
