.page-info
  .lineup-block
    .lineup-field-block
      .lineup-field
        = form_for [team, lineup], url: team_lineup_path(team, lineup), id: 'lineup_form', method: :put do |f|
          = f.fields_for :match_players do |match_player|
            - if lineup.slots[match_player.index]&.position
              .lineup-slot{class: "slot-#{lineup.slots[match_player.index]&.location}"}
                = match_player.hidden_field(:real_position, value: lineup.slots[match_player.index]&.position)
                .input-group
                  .player-data
                    .player-show-images
                      .player-show-face
                        %object{data: team.players.find(match_player.object.player.id).avatar_path, type: 'image/jpg', id: "avatar-mp-#{match_player.index}"}
                          = image_tag('avatar.png')
                      .player-show-kit
                        = image_tag(team.players.find(match_player.object.player.id).kit_path, id: "kit-mp-#{match_player.index}", alt: "Club Kit")
                      .player-name
                        %span{ id: "name-mp-#{match_player.index}" }
                          = team.players.find(match_player.object.player.id).name.upcase
                      .slot-position{class: "slot-position-#{lineup.slots[match_player.index]&.position.tr('/', '')}"}
                        = lineup.slots[match_player.index]&.position
                  = match_player.select :round_player_id, options_for_select(available_by_positions(team, positions: lineup.slots[match_player.index]&.positions_with_malus, real_position: lineup.slots[match_player.index]&.position), match_player.object.player.id), {}, html: {selected: true}, disabled: lineup.tour.closed?, class: 'custom-select lineup-select', id: "mp-#{match_player.index}"
            - else
              .lineup-slot{class: "slot-r#{match_player.index}"}
                .input-group
                  .player-data
                    .player-show-images
                      .player-show-face
                        %object{data: team.players.find(match_player.object.player.id).avatar_path, type: 'image/jpg', id: "avatar-mp-#{match_player.index}"}
                          = image_tag('avatar.png')
                      .player-show-kit
                        = image_tag(team.players.find(match_player.object.player.id).kit_path, id: "kit-mp-#{match_player.index}", alt: "Club Kit")
                      .player-name
                        %span{ id: "name-mp-#{match_player.index}" }
                          = team.players.find(match_player.object.player.id).name.upcase
                      .slot-position.slot-position-res
                        = "R#{match_player.index-10}"
                  = match_player.select :round_player_id, options_for_select(available_for_select(team), match_player.object.player.id), {}, html: {selected: true}, disabled: lineup.tour.closed?, class: 'custom-select lineup-select', id: "mp-#{match_player.index}"
          .slot-sb
            = f.submit 'CONFIRM LINEUP', class: 'submit-lineup-btn', id: 'submit-lineup-btn'

:javascript
  $('.lineup-select').change(function(){
    var block_id = this.id;
    var player_id = this.value;
    var avatar_container = $('#avatar-'+block_id);
    var kit_container = $('#kit-'+block_id);
    var name_container = $('#name-'+block_id);

    $.ajax({
      type: 'GET',
      dataType: 'json',
      url: '/players/'+player_id,
      success: function(data){
        avatar_container.attr('data', data.avatar_path);
        kit_container.attr('src', location.origin + data.kit_path);
        name_container.text(data.name);
      }
    });
  });

  $(document).ready(function() {
    $("#submit-lineup-btn").click(function(){
      var player_ids = [];
      $('.lineup-select').each(function() { player_ids.push($(this).val()); });

      var duplicate_ids = player_ids.reduce(function(acc, el, i, arr) {
        if (arr.indexOf(el) !== i && acc.indexOf(el) < 0) acc.push(el); return acc;
      }, []);

      if (duplicate_ids.length > 0) {
        alert('Lineup contains duplicate players');
        return false;
      }
    });
  });
