.page-header
  .page-header-icon
    = image_tag('navbar/lineups.png')
  .page-header-title
    %span.bolder
      = link_to team.name.upcase, team_path(team)
    | Round
    %span.bolder
      = link_to lineup.tour.number, tour_path(lineup.tour)
.flash-block
  - flash.each do |key, value|
    = content_tag :div, value, class: "flash-item flash-#{key}"

.page-info
  - if lineup.tour.locked_or_postponed? && current_user&.can_moderate?
    .lineup-actions.edit-scores-actions
      .list-items.list-action-items.center
        .list-row-item.edit-scores-item
          .list-row-cell.hidden-cell
          = link_to 'MAKE SUBSTITUTION', team_lineup_substitutions_path(team, lineup), class: 'list-row-cell item-b'
  .lineup-edit-scores-form
    = form_for [team, lineup], url: team_lineup_path(team, lineup), method: :put do |f|
      #lineup_form{data: team.players.to_json}

      .mp-edit-headers
        .mp-edit-header
          %span Lineup pos.
        .mp-edit-header
          %span Club
        .mp-edit-header
          %span Player
        .mp-edit-header
          %span Native positions
        .mp-edit-header
          %span Total score
        .mp-edit-header
          %span Base score
        .mp-edit-header
          %span Goals/ Missed goals
        .mp-edit-header
          %span Scored/ Caught penalty
        .mp-edit-header
          %span Failed/ Missed penalty
        .mp-edit-header
          %span Assists
        .mp-edit-header
          %span Clean sheet
        .mp-edit-header
          %span Yellow card
        .mp-edit-header
          %span Red card
        .mp-edit-header
          %span Own goals
        .mp-edit-header
          %span Position malus

      = f.fields_for :match_players do |match_player|
        - if lineup.slots[match_player.index]&.position
          .alert.alert-success.mp-alert
            = match_player.hidden_field(:real_position, value: lineup.slots[match_player.index]&.position)
            = render 'match_player_scores', lineup: lineup, match_player: match_player
        - else
          - unless match_player.object.not_in_squad?
            .alert.alert-warning.mp-alert
              = render 'match_player_scores', lineup: lineup, match_player: match_player
          - else
            .alert.alert-danger.mp-alert
              = render 'match_player_scores', lineup: lineup, match_player: match_player

      .form-group
        = f.submit 'Update', class: 'btn btn-success btn-block'
