.page-header
  .page-header-icon
    = image_tag('navbar/lineups.png')
  .page-header-title Lineups
.page-info
  .list-items.list-team-lineups.list-items-60-height.center
    - team.lineups.each do |lineup|
      .list-row-item
        .list-row-cell.lineup-tour-number
          = link_to team_lineup_path(team, lineup) do
            = lineup.tour&.number
        .list-row-cell.lineup-tour-module
          = lineup.team_module.name
        .list-row-cell.lineup-tour-points
          = lineup.total_score
        .list-row-cell.lineup-tour-goals
          = lineup.match_result
        .list-row-cell.lineup-tour-opponent
          = link_to team_path(lineup.opponent) do
            .lineup-tour-opponent-name
              = lineup.opponent.code_name
            .lineup-tour-opponent-logo
              = image_tag(lineup.opponent&.logo_path, alt: 'Team Logo')
