.page-header
  .page-header-icon
    = image_tag('navbar/lineups.png')
  .page-header-title Create Lineup
.page-info
  .new-lineup-block
    .list-items.list-items-60-height
      .list-row-item.hidden-cell
      .list-row-item.new-lineup-note
        .list-row-cell.new-lineup-note-warn.center !
        .list-row-cell.new-lineup-note-text
          You should choose module, which will be filled by players in the next step. Module and players can be changed later before the deadline.
    = form_for [team, @lineup] do |f|
      .list-items.new-lu-form-block.center
        .list-row-item.hidden-cell
        .list-row-item.new-lineup-note
          .list-row-cell
            = f.select :team_module_id, @modules.collect { |x| [x.name, x.id]}, {}, class: 'form-control'
          .list-row-cell
            = f.submit 'Setup module', class: 'submit-btn'
    .new-lu-modules-block.center
      = image_tag('modules-long.jpg', class: 'new-lineup-modules-image')

-#      .module-image
-#        - @modules.each do |m|
-#          = image_tag("modules/#{m.name}.png", id: m.name, class: 'module-img')
-#:javascript
-#  $(document).ready(function() {
-#    $('.module-img:first').show();
-#  });
-#  $('#lineup_team_module_id').change(function(){
-#    let module = $(this).children("option:selected").text();
-#    $('.module-img').hide();
-#    $('#'+module).show();
-#  })

