.container
  .alert.alert-primary
    You should choose module, which will be filled by players in the next step. Module and players can be changed later before the deadline.
  %hr
  = form_for [team, @lineup] do |f|
    .form-group
      = image_tag('modules.jpg', class: 'new-lineup-modules-image')
    .form-group
      = f.select :team_module_id, @modules.collect { |x| [x.name, x.id]}, {}, class: 'form-control'
      .module-image
        - @modules.each do |m|
          = image_tag("modules/#{m.name}.png", id: m.name, class: 'module-img')
      .form-group.lineup-submit-btn
        = f.submit 'Setup module', class: 'btn btn-success'

:javascript
  $(document).ready(function() {
    $('.module-img:first').show();
  });
  $('#lineup_team_module_id').change(function(){
    let module = $(this).children("option:selected").text();
    $('.module-img').hide();
    $('#'+module).show();
  })

