.page-info.match-page.lineup-page
  .lineup-squad.match-squads.lineup-links
    .lineup-team
      = "#{t('lineups.team')}: "
      = link_to team_path(lineup.team) do
        = "#{lineup.team.human_name}"
    .lineup-round
      = link_to tour_path(lineup.tour) do
        = "#{t('tours.round')} ##{ lineup.tour.number }"
  .lineup-squad.match-squads
    .match-team-squad
      .match-team-data
        .match-team-module
          .match-team-data-text= t('matches.total_score')
          .match-team-data-value= lineup.total_score
        .match-team-def-bonus
          .match-team-data-text= t('matches.def_bonus')
          .match-team-data-value= lineup.defence_bonus
      .match-main-squad
        - if lineup.tour.fanta?
          - lineup.match_players.main.each do |match_player|
            .match-player-item
              .match-player-avatar
                .player-show-face
                  %object{data: match_player.player.avatar_path, type: 'image/jpg'}
                    = image_tag('avatar.png')
                .player-show-kit
                  %object{data: lineup.tour.national? ? match_player.player.national_kit_path : match_player.player.kit_path, type: 'image/jpg'}
                    = image_tag('kit_small_default2.png')
                .module-position.slot-position{class: "slot-position-#{match_player.real_position.tr('/', '')}"}
                  = match_player.real_position
              .match-player-data
                .match-player-data
                  .match-player-data-base{class: "scores-moderator#{current_user&.can_moderate?}"}
                    = link_to player_path(match_player.player) do
                      .team-player-name
                        = match_player.player.name
                        = image_tag('icons/subs-on.svg') if match_player.get_in?
                        - if match_player.position_malus?
                          ⚠️
                    - if match_player.score.positive?
                      .team-player-scores
                        .team-player-cs-cell
                        .team-player-score= match_player.score
                        .team-player-total-score= match_player.total_score
                    - elsif match_player.club_played_match?
                      - if match_player.tour.locked_or_postponed? && current_user&.can_moderate?
                        .team-player-score-not-played
                          = link_to t('matches.didnt_play'), substitutions_team_lineup_path(match_player.team, match_player.lineup, mp: match_player)
                      - else
                        .team-player-score-not-played= t('matches.didnt_play')
                    - else
                      .team-player-score-unspecified= t('matches.unspecified')
                  .match-player-add-data
                    .match-player-bonuses
                      = render 'matches/mp_bonuses', match_player: match_player

    .lineup-module
      .match-team-module
        .match-team-data-text= t('matches.module')
        .match-team-data-value= lineup.team_module.name
      .module-image
        = image_tag("modules/#{lineup.team_module.name}.jpg")