-#.page-header
-#  .page-header-icon
-#    = image_tag('navbar/lineups.png')
-#  .page-header-title
-#    %span.bolder
-#      = link_to team.name.upcase, team_path(team)
-#    | Round
-#    %span.bolder
-#      = link_to lineup.tour.number, tour_path(lineup.tour)
-#.flash-block
-#  - flash.each do |key, value|
-#    = content_tag :div, value, class: "flash-item flash-#{key}"

.page-info
  = form_with url: team_lineup_subs_update_path(team, lineup),local: true, method: :put do |f|
    .subs-form
      .subs-input
        = f.select :out_mp_id, available_for_substitution(lineup.match_players.main.without_score), {}, class: 'custom-select'

      .subs-img-block
        = image_tag("subs.png", class: 'subs-img')

      .subs-input
        = f.select :in_mp_id, available_for_substitution(lineup.match_players.subs_bench), {}, class: 'custom-select'

    .subs-submit.submit
      = f.submit 'Substitute', class: 'btn btn-success btn-block', data: { confirm: 'Are you sure?' }
