.mob-header= render 'layouts/mob_header', league: tour.league

.round-block
  .round-title#rounds-row
    .round-title-icon.inline-block
      = image_tag("icons/round/status_#{tour.status}.svg")
    .round-title-text.inline-block= t('tours.round')
    .round-title-number.inline-block= tour.number
    .round-title-dropdown.inline-block= image_tag("icons/dropdown_grey.svg")
  .rounds-block#rounds-block
    .rounds-title= t('tours.rounds')
    - tour.league.tours.each do |round|
      - if tour == round
        .round-link-block.round-current{ class: "round-#{round.status}" }
          = round.number
      - else
        = link_to tour_path(round) do
          .round-link-block{ class: "round-#{round.status}" }
            = round.number
  - if tour.set_lineup?
    .round-deadline
      .round-deadline-text= t('tours.deadline')
      .round-deadline-value
        = tour.tournament_round.deadline&.strftime("%a, %b %e at %H:%M")
      .round-deadline-countdown
        = time_to_deadline(tour.tournament_round.time_to_deadline)
  - if tour.mantra?
    .round-matches
      = render 'mob_mantra_matches'
  - if tour.fanta?
    = render 'fanta_round'

= render 'stats_section', tour: tour

- if tour.set_lineup? && user_signed_in? && user_team_by_league(current_user, tour.league) && current_user&.lineup_by_tour(tour).blank?
  .create-lineup-row
    .create-lineup-text= t('tours.setup')
    .create-lineup-link
      - if tour.league.cloneable?
        = link_to t('tours.clone_mob'), clone_team_lineups_path(user_team_by_league(current_user, tour.league), tour_id: tour.id)
    .create-lineup-link= link_to t('tours.create_mob'), new_team_lineup_path(user_team_by_league(current_user, tour.league), tour_id: tour.id, team_module_id: user_team_by_league(current_user, tour.league).lineups.first&.team_module_id)
- if tour.set_lineup? && tour.fanta? && user_signed_in? && user_team_by_league(current_user, tour.league) && current_user&.lineup_by_tour(tour).present?
  .create-lineup-row
    .create-lineup-text= t('tours.want_edit')
    .create-lineup-link
    .create-lineup-link= link_to t('tours.edit_mob'), edit_team_lineup_path(user_team_by_league(current_user, tour.league), current_user.lineup_by_tour(tour), team_module_id: current_user.lineup_by_tour(tour).team_module.id, tour_id: tour.id)

.portrait-footer{ class: "portrait-footer-#{tour.league.mantra?}"}
  = render 'layouts/league_links', league: tour.league

:javascript
  $(document).ready(function() {
    var rounds_modal = document.getElementById("rounds-block");
    var rounds_btn = document.getElementById("rounds-row");

    rounds_btn.onclick = function() {
      rounds_modal.style.display = "block";
    };

    window.onclick = function(e) {
      if (e.target == rounds_modal) { rounds_modal.style.display = "none"; }
    }
  });
