.alert.alert-primary
  .alert.tour-short-item{class: "#{tour_status_class(tour.status)}" }
    -#= link_to "#{tour.number} - #{tour.status}", tour_path(tour)
    = link_to tour_path(tour) do
      .tour-short-data
        .tour-short-info
          = tour.number
        .tour-short-matches
          - tour.matches.each do |match|
            .tour-short-match
              .tour-short-host
                = match.host.name.titleize
              .tour-short-result
                .tour-short-result-host
                  = match.host_lineup&.goals
                %div -
                .tour-short-result-guest
                  = match.guest_lineup&.goals
              .tour-short-guest
                = match.guest.name.titleize

  - if current_user&.admin? && tour.inactive?
    .tour-start-btn
      = link_to "Start tour", tour_change_status_path(tour, status: :set_lineup), class: 'btn btn-primary', data: { confirm: 'Are you sure?' }
