- tours&.each do |tour|
  .list-items.center
    .tour-item
      = link_to tour_path(tour) do
        .tour-short-info
          .tour-number{class: tour.status}
            = tour.number
        .tour-matches
          .list-items.list-tour-fixtures
            - tour.matches.each do |match|
              .list-row-item
                .list-row-cell.tours-match-host
                  .match-team-name
                    = match.host.human_name
                  .match-team-logo
                    = image_tag(image_path(match.host.logo_path), alt: "Team Logo")
                .list-row-cell.tour-match-result
                  .tour-short-result-host
                    = match.host_lineup&.goals
                  %div -
                  .tour-short-result-guest
                    = match.guest_lineup&.goals
                .list-row-cell.tours-match-guest
                  .match-team-logo
                    = image_tag(image_path(match.guest.logo_path), alt: "Team Logo")
                  .match-team-name
                    = match.guest.human_name
