.container
  - tour.matches.each do |match|
    .alert.alert-primary
      .card.match-team-card
        .card-body
          .card-title
            = link_to match.host.name.titleize, team_path(match.host.id)
          - if match.host_lineup
            %p
              = match.host_lineup.team_module.name
            %p
              = match.host_lineup.total_score
            %p
              = pluralize(match.host_lineup.goals, 'goal')
      .card.match-team-card
        .card-body
          .card-title
            = link_to match.guest.name.titleize, team_path(match.guest.id)
          - if match.guest_lineup
            %p
              = match.guest_lineup.team_module.name
            %p
              = match.guest_lineup.total_score
            %p
              = pluralize(match.guest_lineup.goals, 'goal')
