.page-block
  = render 'layouts/left_nav', league: tour.league
  = render 'layouts/right_nav', league: tour.league
  .page-info.rounds-page
    .round-section
      .rounds-block
        - tour.league.tours.each do |round|
          = link_to tour_path(round) do
            .round-link-block{ class: "round-#{round.status} round-current-#{tour == round}" }
              = round.number
      .round-item
        .round-base
          .round-title
            .round-title-icon
              = image_tag("icons/round/status_#{tour.status}.svg")
            .round-title-text= t('tours.round')
            .round-title-number= tour.number
          .round-prev-next
            .round-prev
              - if tour.number > 1 && tour.prev_round
                = link_to tour_path(tour.prev_round) do
                  .round-prev-arrow
                    = image_tag('icons/arrow_blue.png')
                  .round-prev-text= t('tours.prev')
            .round-next
              - if tour.number < tour.league.tours.size && tour.next_round
                = link_to tour_path(tour.next_round) do
                  .round-next-text= t('tours.next')
                  .round-next-arrow
                    = image_tag('icons/arrow_blue.png')
        .round-add-data
          - if tour.inactive?
            .round-add-data-inactive
              = t('tours.round_inactive')
          - elsif tour.set_lineup?
            .round-deadline
              .round-deadline-text= t('tours.deadline')
              .round-deadline-value
                = tour.tournament_round.deadline&.strftime("%a, %b %e at %H:%M")
              .round-deadline-countdown
                = time_to_deadline(tour.tournament_round.time_to_deadline)
          - elsif tour.closed?
            .round-finished
              .round-finished-title= t('tours.finished')
              .round-finished-date= tour.updated_at.strftime("%b %e, %Y")
        - if tour.mantra?
          .round-matches
            = render 'round_matches'
        - else
          = render 'fanta_round'

    = render 'stats_section', tour: tour
