.container
  - tour.matches.each do |match|
    .alert.alert-primary.tour-alert
      .card.match-team-card
        .card-body
          .card-title.team-tour-card
            .team-tour-info.team-tour-info-block
              .team-link
                = link_to match.host.name.titleize, team_path(match.host.id)
              %p.team-tour-module
                = match.host_lineup ? match.host_lineup.team_module.name : 'waiting for lineup'
            .team-tour-result.team-tour-info-block
              - if match.host_lineup
                %p.team-tour-goals
                  = match.host_lineup.goals
                %p.team-tour-points
                  (
                  = pluralize(match.host_lineup.total_score, 'point')
                  )
              - else
                %p.team-tour-goals -
                %p.team-tour-points ---
      .card.match-team-card
        .card-body
          .card-title.team-tour-card
            .team-tour-info.team-tour-info-block.team-tour-info-guest
              .team-link
                = link_to match.guest.name.titleize, team_path(match.guest.id)
              %p.team-tour-module
                = match.guest_lineup ? match.guest_lineup.team_module.name : 'waiting for lineup'
            .team-tour-result.team-tour-info-block
              - if match.guest_lineup
                %p.team-tour-goals
                  = match.guest_lineup.goals
                %p.team-tour-points
                  (
                  = pluralize(match.guest_lineup.total_score, 'point')
                  )
              - else
                %p.team-tour-goals -
                %p.team-tour-points ---
