.page-block
  .web-header= render 'layouts/left_nav', league: nil
  .mob-header= render 'layouts/mob_header', league: nil, title: t('links.title')
  .page-info.links-page
    .links-block-head
      .links-title= t('links.title')
      .links-subtitle= t('links.subtitle')
    .links-lists.leagues-lists
      .leagues-lists-tabs
        - active_tournaments.each do |tournament|
          .leagues-lists-tab-item{ id: tournament.code }
            .leagues-tab-icon= image_tag("tournaments/#{tournament.code}.png")
            .leagues-tab-name= tournament.short_name || tournament.name
      .links-lists-content
        - active_tournaments.each do |tournament|
          .links-status-list{class: "#{tournament.code}-list"}
            - tournament.links.each do |link|
              = link_to link.url, target: '_blank' do
                .links-list-item
                  .links-list-item-param.tournament-logo= image_tag(link.tournament.logo_path)
                  .links-list-item-param= link.name
                  .links-list-item-param.links-link
                    = image_tag('icons/link_arrow.png')

:javascript
  $(document).ready(function() {
    $(".links-status-list").hide();

    $(".leagues-lists-tab-item").first().addClass("leagues-lists-tab-active");
    $(".links-status-list").first().show();

    $(".leagues-lists-tab-item").click(function(){
      var listId = this.id;

      $(".leagues-lists-tab-item").removeClass("leagues-lists-tab-active");
      $(".links-status-list").hide();

      $("#" + listId).addClass("leagues-lists-tab-active");
      $("." + listId + "-list").show();
    });
  });
