.page-info
  - if current_user&.admin?
    .list-items.list-action-items.center
      .list-row-item
        .list-row-cell.hidden-cell
        .list-row-cell.hidden-cell
        .list-row-cell.item-c
          = link_to 'NEW LINK', new_league_link_path(league)

  .list-items.list-items-dark.list-items-dark70.links-items
    - @links.each do |link|
      .list-row-item
        .list-row-cell
          .link-data
            = link_to link.url, target: '_blank' do
              .link-name
                = link.name
              - if link.description.present?
                .link-description
                  = "/#{link.description}/"
        .list-row-cell
          - if current_user&.admin?
            .link-btn-group.center
              = link_to 'Edit', edit_league_link_path(league, link)
              = link_to 'Destroy', league_link_path(league, link), method: :delete, data: { confirm: 'Are you sure?' }
