.page-info.player-show-page
  .player-banner{style: "background-color: ##{ player.club.color };"}
    .player-show-base
      .player-show-first-name
        = player.first_name
      .player-show-name
        = player.name
      .player-show-base-row
        .player-show-positions
          - player.positions.each do |position|
            .slot-position{class: "slot-position-#{position.name}"}
              = position.name
        .player-show-score
          .player-show-score-value
            = player.season_average_result_score
    .player-show-avatar
      .player-show-face
        %object{data: player.profile_avatar_path, type: 'image/jpg'}
          = image_tag('avatar.png')
      .player-show-kit
        %object{data: player.profile_kit_path, type: 'image/jpg'}
          = image_tag('kit_default2.png')
  .player-tables
    .player-tables-left
      .player-table
        .player-table-title
          = t('players.bio')
        - if player.nationality
          .player-table-row
            .player-table-row-key= t('players.country')
            .player-table-row-value
              = player.country
              = flag_icon(player.nationality.to_sym, element: :div)
        .player-table-row
          .player-table-row-key= t('players.club')
          .player-table-row-value.player-table-club
            = player.club.name
            %object{data: player.club.logo_path, type: 'image/jpg'}
              = image_tag('default_logo.png')
        - if player.tm_url.present?
          .player-table-row
            .player-table-row-key= t('players.transfermarkt')
            .player-table-row-value
              = link_to player.tm_url, target: :_blank do
                .player-tm-img.player-table-club
                  = 'TM'
                  = image_tag("tm.jpg")
          .player-table-row
            .player-table-row-key= t('players.tm_price')
            .player-table-row-value
              = "#{number_with_delimiter(player.tm_price, :delimiter => ',')} €"
        - if player.birth_date.present?
          .player-table-row
            .player-table-row-key= t('players.age')
            .player-table-row-value
              = (Date.today.strftime('%Y%m%d').to_i - player.birth_date.to_date.strftime('%Y%m%d').to_i) / 10000
          .player-table-row
            .player-table-row-key= t('players.birth_date')
            .player-table-row-value
              = player.birth_date
        - if player.height
          .player-table-row
            .player-table-row-key= t('players.height')
            .player-table-row-value
              = "#{player.height} cm"
        - if player.number
          .player-table-row
            .player-table-row-key= t('players.number')
            .player-table-row-value
              = player.number
        .player-table-row.player-table-row-last
          .player-table-row-key= t('players.teams')
          .player-table-row-value
            - player.teams.each do |t|
              = link_to team_path(t) do
                .player-show-team
                  .player-team-data
                    .player-team-name
                      = t.human_name
                    .player-team-league
                      = t.league.name
                  .player-team-logo
                    = image_tag(t.logo_path)

    .player-tables-right
      .player-table.performance-table
        .player-table-title
          = t('players.performance')
        .player-table-headers.performance-table-row
          .player-table-header= t('players.round')
          - if player.position_names.include?(Position::PORTIERE)
            .player-table-header{title: t('players.missed_goals')}= t('players.mg')
            .player-table-header{title: t('players.caught_penalty')}= t('players.cp')
            .player-table-header{title: t('players.missed_penalty')}= t('players.mp')
          - else
            .player-table-header= t('players.goals')
            .player-table-header{title: t('players.scored_penalty')}= t('players.sp')
            .player-table-header{title: t('players.failed_penalty')}= t('players.fp')
          .player-table-header= t('players.assists')
          .player-table-header{title: t('players.yellow_card')}= t('players.yc')
          .player-table-header{title: t('players.red_card')}= t('players.rc')
          .player-table-header{title: t('players.own_goals')}= t('players.og')
          .player-table-header.right= t('players.base_score')
          .player-table-header.right= t('players.total_score')
        - player.season_matches_with_scores.reverse_each do |rp|
          .player-table-row.performance-table-row
            .player-table-cell= rp.tournament_round.number
            - if player.position_names.include?(Position::PORTIERE)
              .player-table-cell
                = render 'bonus_item', bonus: rp.missed_goals, img_path: "bonuses/mg.png"
              .player-table-cell
                = render 'bonus_item', bonus: rp.caught_penalty, img_path: "bonuses/pen.png"
              .player-table-cell
                = render 'bonus_item', bonus: rp.missed_penalty, img_path: "bonuses/miss_pen.png"
            - else
              .player-table-cell
                = render 'bonus_item', bonus: rp.goals, img_path: "bonuses/goal.png"
              .player-table-cell
                = render 'bonus_item', bonus: rp.scored_penalty, img_path: "bonuses/pen.png"
              .player-table-cell
                = render 'bonus_item', bonus: rp.failed_penalty, img_path: "bonuses/miss_pen.png"
            .player-table-cell
              = render 'bonus_item', bonus: rp.assists, img_path: "bonuses/assist.png"
            .player-table-cell
              - if rp.yellow_card
                .match-player-bonus-item
                  = image_tag("bonuses/yc.png")
            .player-table-cell
              - if rp.red_card
                .match-player-bonus-item
                  = image_tag("bonuses/rc.png")
            .player-table-cell
              = render 'bonus_item', bonus: rp.own_goals, img_path: "bonuses/autogol.png"
            .player-table-cell.right= rp.score
            .player-table-cell.right.bold= rp.result_score
        .table-total.performance-table-row
          .table-total-cell= t('players.total')
          - if player.position_names.include?(Position::PORTIERE)
            .table-total-cell
              - if player.season_bonus_count('missed_goals').nonzero?
                = image_tag("bonuses/mg.png")
                = "x #{player.season_bonus_count('missed_goals')}"
            .table-total-cell
              - if player.season_bonus_count('caught_penalty').nonzero?
                = image_tag("bonuses/pen.png")
                = "x #{player.season_bonus_count('caught_penalty')}"
            .table-total-cell
              - if player.season_bonus_count('missed_penalty').nonzero?
                = image_tag("bonuses/miss_pen.png")
                = "x #{player.season_bonus_count('missed_penalty')}"
          - else
            .table-total-cell
              - if player.season_bonus_count('goals').nonzero?
                = image_tag("bonuses/goal.png")
                = "x #{player.season_bonus_count('goals')}"
            .table-total-cell
              - if player.season_bonus_count('scored_penalty').nonzero?
                = image_tag("bonuses/pen.png")
                = "x #{player.season_bonus_count('scored_penalty')}"
            .table-total-cell
              - if player.season_bonus_count('failed_penalty').nonzero?
                = image_tag("bonuses/miss_pen.png")
                = "x #{player.season_bonus_count('failed_penalty')}"
          .table-total-cell
            - if player.season_bonus_count('assists').nonzero?
              = image_tag("bonuses/assist.png")
              = "x #{player.season_bonus_count('assists')}"
          .table-total-cell
            - if player.season_cards_count('yellow_card').nonzero?
              = image_tag("bonuses/yc.png")
              = "x #{player.season_cards_count('yellow_card')}"
          .table-total-cell
            - if player.season_cards_count('red_card').nonzero?
              = image_tag("bonuses/rc.png")
              = "x #{player.season_cards_count('red_card')}"
          .table-total-cell
            - if player.season_bonus_count('own_goals').nonzero?
              = image_tag("bonuses/autogol.png")
              = "x #{player.season_bonus_count('own_goals')}"
          .table-total-cell.right= player.season_average_score
          .table-total-cell.right.bold= player.season_average_result_score
      .player-table
        .player-table-title
          = t('players.chart')
        .player-table-chart
          = area_chart player.chart_info
