.page-info.player-show-page
  .player-show
    .player-show-images
      .player-show-face
        %object{data: player.avatar_path, type: 'image/jpg'}
          = image_tag('avatar.png')
      .player-show-kit
        = image_tag(player.kit_path, alt: 'Club Kit')
    .player-show-info
      .list-items.list-items-dark.list-items-dark50.center
        .list-row-item
          .list-row-cell NAME
          .list-row-cell.player-data-cell
            = player.pseudo_name.upcase
        .list-row-item
          .list-row-cell COUNTRY
          .list-row-cell.player-data-cell
            - if player.nationality
              = flag_icon(player.nationality.to_sym, element: :div)
              = player.country.upcase
        .list-row-item
          .list-row-cell CLUB
          .list-row-cell.player-data-cell
            = image_tag(player.club.logo_path, alt: 'Club Logo')
            = player.club.name.upcase
        .list-row-item
          .list-row-cell POSITIONS
          .list-row-cell.player-data-cell
            .player-show-positions
              - player.positions.each do |position|
                .slot-position{class: "slot-position-#{position.name}"}
                  = position.name
        .list-row-item
          .list-row-cell TEAMS
          .list-row-cell.player-data-cell
            - player.teams.each do |t|
              %span
                = image_tag(t.logo_path)
                = t.code_name
        .list-row-item
          .list-row-cell TM
          .list-row-cell.player-data-cell
            = link_to player.tm_url, target: :_blank do
              .player-tm-img
                = image_tag("tm_logo.png")

  -# TODO: show data after RoundPlayer implementation
  -#.alert.alert-primary.player-show-stats
  -#  .player-stat-header{title: 'Number of matches in mains squad'} MP
  -#  .player-stat-header{title: 'Number of scores'} SC
  -#  .player-stat-header{title: 'Average base score'} ABS
  -#  .player-stat-header{title: 'Average total score'} ATS
  -#  .player-param= player.played_matches_count
  -#  .player-param= player.scores_count
  -#  .player-param= player.average_score
  -#  .player-param= player.average_result_score
  .player-show-lineups
    %ul.nav.nav-tabs.nav-fill
      %li.nav-item
        %a{"data-toggle" => "tab", href: "#stat-lineups", class: 'nav-link active'} Lineups
      %li.nav-item
        %a{"data-toggle" => "tab", href: "#stat-chart", class: 'nav-link'} Chart
    .tab-content
      .tab-pane.pane.active#stat-lineups
        .alert.alert-primary.player-show-mp-bolder.player-show-details-headers
          .player-show-mp-header= '#'
          .player-show-mp-header{title: 'Total score'} TS
          .player-show-mp-header{title: 'Base score'} BS
          .player-show-mp-header{title: 'Goals / Missed goals'} G/MG
          .player-show-mp-header{title: 'Scored penalty / Caught penalty'} SP/CP
          .player-show-mp-header{title: 'Failed penalty / Missed penalty'} FP/MP
          .player-show-mp-header{title: 'Assists'} A
          .player-show-mp-header{title: 'Yellow card'} YC
          .player-show-mp-header{title: 'Red card'} RC
          .player-show-mp-header{title: 'Own goals'} OG
        - player.season_matches_with_scores.reverse_each do |rp|
          -#.alert.player-show-details{class: squad_class(rp)}
          .alert.player-show-details.alert-success
            .player-show-mp-param.player-show-mp-bolder
              = rp.tournament_round.number
            .player-show-mp-param.player-show-mp-bolder
              = rp.result_score
            .player-show-mp-param
              = rp.score
            - if player.positions_names_string == 'Por'
              .player-show-mp-param
                - if rp.missed_goals.to_i.nonzero?
                  = image_tag("bonuses/mg.png", title: 'Missed goal')
                  - if rp.missed_goals.to_i > 1
                    .badge.badge-danger.bonus-badge= rp.missed_goals.to_i
              .player-show-mp-param
                - if rp.caught_penalty.to_i.nonzero?
                  = image_tag("bonuses/pen.png", title: 'Caught penalty')
                  - if rp.caught_penalty.to_i > 1
                    .badge.badge-warning.bonus-badge= rp.caught_penalty.to_i
              .player-show-mp-param
                - if rp.missed_penalty.to_i.nonzero?
                  = image_tag("bonuses/mg.png", title: 'Missed penalty')
                  - if rp.missed_penalty.to_i > 1
                    .badge.badge-danger.bonus-badge= rp.missed_penalty.to_i
            - else
              .player-show-mp-param
                - if rp.goals.to_i.nonzero?
                  = image_tag("bonuses/goal.png", title: 'Goal')
                  - if rp.goals.to_i > 1
                    .badge.badge-success.bonus-badge= rp.goals.to_i
              .player-show-mp-param
                - if rp.scored_penalty.to_i.nonzero?
                  = image_tag("bonuses/pen.png", title: 'Scored penalty')
                  - if rp.scored_penalty.to_i > 1
                    .badge.badge-warning.bonus-badge= rp.scored_penalty.to_i
              .player-show-mp-param
                - if rp.failed_penalty.to_i.nonzero?
                  = image_tag("bonuses/mg.png", title: 'Failed penalty')
                  - if rp.failed_penalty.to_i > 1
                    .badge.badge-danger.bonus-badge= rp.failed_penalty.to_i
            .player-show-mp-param
              - if rp.assists.to_i.nonzero?
                = image_tag("bonuses/assist.png", title: 'Assist')
                - if rp.assists.to_i > 1
                  .badge.badge-warning.bonus-badge= rp.assists.to_i
            .player-show-mp-param
              = image_tag("bonuses/yc.png", title: 'Yellow card') if rp.yellow_card
            .player-show-mp-param
              = image_tag("bonuses/rc.png", title: 'Red card') if rp.red_card
            .player-show-mp-param
              - if rp.own_goals.to_i.nonzero?
                = image_tag("bonuses/autogol.png", title: 'Own goal')
                - if rp.own_goals.to_i > 1
                  .badge.badge-warning.bonus-badge= rp.own_goals.to_i

      .tab-pane.fade#stat-chart
        = area_chart player.chart_info
