.page-info.player-show-page
  .player-banner{style: "background-color: ##{ player.national_team.present? ? player.national_team.color : player.club.color };"}
    .player-show-base
      .player-show-first-name
        = player.first_name
      .player-show-name
        = player.name
      .player-show-base-row
        .player-show-positions
          - player.positions.each do |position|
            .slot-position{class: "slot-position-#{position.name}"}
              = position.name
        .player-show-score
          .player-show-score-value
            = player.season_average_result_score
    .player-show-avatar
      .player-show-face
        %object{data: player.profile_avatar_path, type: 'image/jpg'}
          = image_tag('avatar.png')
      .player-show-kit
        %object{data: player.national_team.present? ? player.profile_national_kit_path : player.profile_kit_path, type: 'image/jpg'}
          = image_tag('kit_default2.png')
  .player-tables
    .player-tables-left
      .player-table
        .player-table-title
          = t('players.bio')
        - if player.nationality
          .player-table-row
            .player-table-row-key= t('players.country')
            .player-table-row-value
              = player.country
              = flag_icon(player.nationality.to_sym, element: :div)
        .player-table-row
          .player-table-row-key= t('players.club')
          .player-table-row-value.player-table-club
            = player.club.name
            %object{data: player.club.logo_path, type: 'image/jpg'}
              = image_tag('default_logo.png')
        - if player.tm_url.present?
          .player-table-row
            .player-table-row-key= t('players.transfermarkt')
            .player-table-row-value
              = link_to player.tm_url, target: :_blank do
                .player-tm-img.player-table-club
                  = 'TM'
                  = image_tag("tm.jpg")
          .player-table-row
            .player-table-row-key= t('players.tm_price')
            .player-table-row-value
              = "#{number_with_delimiter(player.tm_price, :delimiter => ',')} €"
        - if player.birth_date.present?
          .player-table-row
            .player-table-row-key= t('players.age')
            .player-table-row-value
              = (Date.today.strftime('%Y%m%d').to_i - player.birth_date.to_date.strftime('%Y%m%d').to_i) / 10000
          .player-table-row
            .player-table-row-key= t('players.birth_date')
            .player-table-row-value
              = player.birth_date
        - if player.height
          .player-table-row
            .player-table-row-key= t('players.height')
            .player-table-row-value
              = "#{player.height} cm"
        - if player.number
          .player-table-row
            .player-table-row-key= t('players.number')
            .player-table-row-value
              = player.number
        .player-table-row.player-table-row-last
          .player-table-row-key= t('players.teams')
          .player-table-row-value
            - player.teams.each do |t|
              = link_to team_path(t) do
                .player-show-team
                  .player-team-data
                    .player-team-name
                      = t.human_name
                    .player-team-league
                      = t.league.name
                  .player-team-logo
                    = image_tag(t.logo_path)

    .player-tables-right
      - if player.national_team
        .player-table.performance-table
          .player-table-title
            = t('players.national_performance')
          = render('performance', player: player, matches: player.national_matches_with_scores, national: true)
      .player-table.performance-table
        .player-table-title
          = t('players.performance')
        = render('performance', player: player, matches: player.season_matches_with_scores, national: false)
      .player-table
        .player-table-title
          = t('players.chart')
        .player-table-chart
          = area_chart player.chart_info
