.match-player-item
  .match-player-avatar
    .player-show-face
      %object{data: match_player.player.avatar_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
        = image_tag('avatar.png')
    .player-show-kit
      %object{data: match_player.player.kit_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
        = image_tag('kit_small_default.png')
    .module-position-block.player-positions-block
      - match_player.real_position_arr.each do |position|
        .player-position{class: "player-position-#{position}"}
          = slot_position_name(position)
  .match-player-data
    .match-player-data
      .match-player-data-base
        = link_to player_path(match_player.player) do
          .team-player-name
            = match_player.player.name
            - if match_player.position_malus?
              .malus_icon= image_tag("bonuses/position_malus.svg")
        - if match_player.score.positive?
          .team-player-scores
            .team-player-substitute-cell
              - if match_player.get_in?
                .team-player-substitute{title: "Replaced: #{match_player.main_subs.last&.out_rp&.full_name_reverse}"}
                  - if match_player.tour.locked_or_postponed? && current_user&.can_moderate? && match_player.main_subs.last
                    = link_to match_player_substitute_path(match_player, match_player.main_subs.last), method: :delete, data: { confirm: t('header.are_you_sure') } do
                      = image_tag('icons/subs-on.svg')
                  - else
                    = image_tag('icons/subs-on.svg')
            .team-player-score= match_player.score
            .team-player-total-score= match_player.total_score
        - elsif match_player.club_played_match? || match_player.another_tournament?
          - if match_player.tour.locked_or_postponed? && current_user&.can_moderate?
            .team-player-score-not-played
              = link_to t('matches.didnt_play'), new_match_player_substitute_path(match_player)
          - else
            .team-player-score-not-played= t('matches.didnt_play')
        - else
          .team-player-score-unspecified= t('matches.unspecified')
      .match-player-add-data
        - if match_player.club_played_match? || match_player.another_tournament?
          .match-player-bonuses
            = render 'mp_bonuses', match_player: match_player
        - else
          = render 'real-match', match_player: match_player, t_round: match_player.tour.tournament_round
