- if match_player.player.positions_names_string == 'Por'
  = render 'players/bonus_item', bonus: match_player.missed_goals, img_path: "bonuses/mg.png"
  = render 'players/bonus_item', bonus: match_player.caught_penalty, img_path: "bonuses/pen.png"
  = render 'players/bonus_item', bonus: match_player.missed_penalty, img_path: "bonuses/miss_pen.png"
- else
  = render 'players/bonus_item', bonus: match_player.goals, img_path: "bonuses/goal.png"
  = render 'players/bonus_item', bonus: match_player.scored_penalty, img_path: "bonuses/pen.png"
  = render 'players/bonus_item', bonus: match_player.failed_penalty, img_path: "bonuses/miss_pen.png"
= render 'players/bonus_item', bonus: match_player.assists, img_path: "bonuses/assist.png"
- if match_player.yellow_card
  .match-player-bonus-item
    = image_tag("bonuses/yc.png", title: 'Yellow card')
- if match_player.red_card
  .match-player-bonus-item
    = image_tag("bonuses/rc.png", title: 'Red card')
= render 'players/bonus_item', bonus: match_player.own_goals, img_path: "bonuses/autogol.png"
- if match_player.try(:cleansheet) && match_player.cleansheet
  .match-player-bonus-item
    = image_tag("bonuses/cs.png", title: 'Clean sheet')
