.match-player-item
  .match-player-avatar
    .player-show-face
      %object{data: match_player.player.avatar_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
        = image_tag('avatar.png')
    .player-show-kit
      %object{data: match_player.player.kit_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
        = image_tag('kit_small_default2.png')
  .match-player-data
    .match-player-data
      .match-player-data-base
        = link_to player_path(match_player.player) do
          .team-player-name
            = match_player.player.name
        - if match_player.score.positive?
          .team-player-scores
            .team-player-score= match_player.score
            .team-player-total-score= match_player.result_score
        - elsif match_player.club_played_match?
          .team-player-score-not-played= t('matches.didnt_play')
        - else
          .team-player-score-unspecified= t('matches.unspecified')
      .match-player-add-data
        - if match_player.club_played_match?
          .match-player-bonuses
            = render 'mp_bonuses', match_player: match_player
        - else
          = render 'real-match', match_player: match_player, t_round: match_player.tournament_round
        .match-player-positions
          - match_player.player.positions.each do |position|
            .match-player-position.slot-position{class: "slot-position-#{position.name}"}
              = position_name(position)
