.match-player-item
  .match-player-avatar
    .player-show-face
      %object{data: match_player.player.avatar_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
        = image_tag('avatar.png')
    .player-show-kit
      - if match_player.lineup.tour.national?
        %object{data: match_player.player.national_kit_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
          = image_tag('kit_small_default.png')
      - else
        %object{data: match_player.player.kit_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
          = image_tag('kit_small_default.png')
  .match-player-data
    .match-player-data
      .match-player-data-base
        = link_to player_path(match_player.player) do
          .team-player-name
            = match_player.player.name
            = image_tag('icons/subs-off.svg') if match_player.get_out?
            = match_player.reserve_subs&.first&.subs_by
        - if match_player.score.positive?
          .team-player-scores
            .team-player-score= match_player.score
            .team-player-total-score= match_player.total_score
        - elsif match_player.club_played_match? || (match_player.tour.mantra? && match_player.another_tournament?)
          .team-player-score-not-played= t('matches.didnt_play')
        - else
          .team-player-score-unspecified= t('matches.unspecified')
      .match-player-add-data
        - if match_player.club_played_match?
          .match-player-bonuses
            = render 'matches/mp_bonuses', match_player: match_player
        - else
          = render 'matches/real-match', match_player: match_player, t_round: match_player.tour.tournament_round
        .match-player-positions
          .player-positions-block
            - match_player.player.positions.each do |position|
              .player-position{class: "player-position-#{position.name}"}
                = position_name(position)
