.match-team-squad
  - if lineup
    - if current_user == lineup.team.user || lineup.tour.deadlined?
      .match-team-data
        .match-team-module
          .match-team-data-text= t('matches.module')
          .match-team-data-value= lineup.team_module.name
        .match-team-def-bonus
          .match-team-data-text= t('matches.def_bonus')
          .match-team-data-value= lineup.defence_bonus
      .match-main-squad
        - lineup.match_players.main.each do |match_player|
          = render 'main_player', match_player: match_player
      .match-reserve
        .match-reserve-title= t('matches.substitutes')
        .match-reserve-players
          - lineup.match_players.subs.each do |match_player|
            = render 'subs_player', match_player: match_player
      .match-reserve
        .match-reserve-title= t('matches.not_lineup')
        .match-reserve-players
          - lineup.team.players_not_in(lineup).each do |round_player|
            = render 'out_of_squad', match_player: round_player
    - else
      .match-no-lineup-icon ✅
      .match-no-lineup-title= t('matches.waiting_deadline')
      .match-no-lineup-subtitle= t('matches.with_squad')
  - else
    .match-no-lineup-icon ⏳
    .match-no-lineup-title= t('matches.waiting')
    .match-no-lineup-subtitle= t('matches.without_squad')
