.page-info.match-page
  .matches-bar
    .matches-bar-title
      .matches-bar-round
        = t('tours.round')
        = link_to tour_path(match.tour) do
          = "##{ match.tour.number }"
      .matches-bar-center= t('matches.game_center')
    - match.tour.matches.each do |round_match|
      = link_to match_path(round_match) do
        .matches-bar-item{ class: "current-match-#{match == round_match}"}
          .matches-bar-team
            .matches-bar-team-param= image_tag(round_match.host.logo_path)
            .matches-bar-team-param.matches-bar-team-name= round_match.host.code
            .matches-bar-team-param.matches-bar-team-score= round_match.host_lineup&.total_score || 0.0
            .matches-bar-team-param= round_match.host_lineup&.goals || 0
          .matches-bar-team
            .matches-bar-team-param= image_tag(round_match.guest.logo_path)
            .matches-bar-team-param.matches-bar-team-name= round_match.guest.code
            .matches-bar-team-param.matches-bar-team-score= round_match.guest_lineup&.total_score || 0.0
            .matches-bar-team-param= round_match.guest_lineup&.goals || 0
  .match-bar
    .match-host
      = link_to team_path(match.host) do
        .match-team-logo= image_tag(match.host.logo_path)
        .match-team-name= match.host.human_name
    .match-result
      - if match.tour.unlocked?
        .match-result-soon= t('matches.start_soon')
        .match-result-deadline
          = match.tournament_round.deadline&.strftime('%a, %b %e at %H:%M')
      - else
        .match-result-row
          .match-result-row-cell.round-match-scores-host-count
            - if match.host_lineup && match.host_lineup.mp_with_score < 11
              .round-match-scores-count= match.host_lineup&.mp_with_score
              = '/ 11'
            - else
              .round-match-scores-count-all= match.host_lineup&.mp_with_score
          .match-result-row-cell.round-match-score
            = match.host_lineup&.total_score
          .match-result-row-cell.round-match-goals
            .round-match-host-goals= match.host_lineup&.goals
            .round-match-guest-goals= match.guest_lineup&.goals
          .match-result-row-cell.round-match-score
            = match.guest_lineup&.total_score
          .match-result-row-cell.round-match-scores-guest-count
            - if match.guest_lineup && match.guest_lineup.mp_with_score < 11
              .round-match-scores-count= match.guest_lineup&.mp_with_score
              = '/ 11'
            - else
              .round-match-scores-count-all= match.guest_lineup&.mp_with_score
    .match-guest
      = link_to team_path(match.guest) do
        .match-team-logo= image_tag(match.guest.logo_path)
        .match-team-name= match.guest.human_name
  .match-actions
    .match-host
      - if current_user == match.host.user && match.tour.set_lineup?
        - if match.host_lineup.blank?
          .match-action-link= link_to t('matches.set_squad'), new_team_lineup_path(match.host, tour_id: match.tour.id)
        - else
          .match-action-link= link_to t('matches.edit_lineup'), edit_team_lineup_path(match.host, match.host_lineup, team_module_id: match.host_lineup.team_module.id)
    .match-common-action
    .match-guest
      - if current_user == match.guest.user && match.tour.set_lineup?
        - if match.guest_lineup.blank?
          .match-action-link= link_to t('matches.set_squad'), new_team_lineup_path(match.guest, tour_id: match.tour.id)
        - else
          .match-action-link= link_to t('matches.edit_lineup'), edit_team_lineup_path(match.guest, match.guest_lineup, team_module_id: match.guest_lineup.team_module.id)
  .match-squads
    = render 'team_squad', lineup: match.host_lineup
    .match-lineups
      .match-team-name= match.host.human_name
      .match-lineups-field
        = image_tag('field_skeleton.svg')
        -# TODO: add lineups icons to field
      .match-team-name= match.guest.human_name
    = render 'team_squad', lineup: match.guest_lineup
