.page-block
  .web-header= render 'layouts/left_nav', league: nil
  .mob-header= render 'layouts/mob_header', league: nil, title: t('round.title')
  .page-info.round-manage-page
    .round-title-bar
      .round-title
        = "#{tournament_round.tournament.name} ##{tournament_round.number}"
    .round-block
      .round-left
        .round-tours
          - tournament_round.tours.each do |tour|
            .round-tour-item{ class: "subs-missed-#{tour.subs_missed? if tour.tournament_round.finished?}" }
              = link_to tour_path(tour), class: 'round-tour-link' do
                .round-tour-division= tour.league.division ? "#{tour.league.division.name} | " : '-'
                .round-tour-league= tour.league.name
                .round-tour-status{ class: "round-status-#{tour.status}" }= tour.status
                .round-tour-number= "##{tour.number}"
        .round-matches
        - tournament_round.tours.each do |tour|
          - tour.lineups.each do |lineup|
            .round
              .match
                .preview
                  - if lineup.substitutes_preview.present?
                    - lineup.substitutes_preview.each do |record|
                      .record
                        = record['out']
                        = image_tag('icons/subs-off.svg')
                        = record['in']
                        = image_tag('icons/subs-on.svg')
                    .round-link-block
                      %span
                        - if lineup.tour.fanta?

                          = link_to lineup.team.human_name, team_lineup_path(lineup.team, lineup), class: 'btn btn-primary'
                        - elsif lineup.match
                          = link_to lineup.team.human_name, match_path(lineup.match), class: 'btn btn-primary'
                      %span
                        = lineup.league.division_with_name
                      %hr