.page-info.edit-round
  = form_for :tour, url: tournament_round_path(tournament_round), method: :put do
    .rp-edit-header-row
      .rp-edit-headers
        .rp-edit-header Club
        .rp-edit-header.res-name Player
        .rp-edit-header{title: 'Total score'} TS
        .rp-edit-header{title: 'Base score'} BS
        .rp-edit-header{title: 'Goals / Missed goals'} G/MG
        .rp-edit-header{title: 'Scored penalty / Caught penalty'} SP/CP
        .rp-edit-header{title: 'Failed penalty / Missed penalty'} FP/MP
        .rp-edit-header{title: 'Assists'} A
        .rp-edit-header{title: 'Saves'} Sav
        .rp-edit-header{title: 'Conceded Penalty'} ConP
        .rp-edit-header{title: 'Penalties won'} PW
        .rp-edit-header{title: 'Yellow card'} YC
        .rp-edit-header{title: 'Red card'} RC
        .rp-edit-header{title: 'Cleansheet'} CS
        .rp-edit-header{title: 'Own goals'} OG
        .rp-edit-header{title: 'Played minutes'} PM
        .rp-edit-header{title: 'Lock data'} Lock
    .rp-edit-items
      - @round_players.each do |reservist|
        = fields_for "round_players[]", reservist do |rp_f|
          .rp-edit-item
            .rp-edit-param
              .club-logo.l-details-club-logo
                - if tournament_round.tournament.national?
                  = flag_icon(rp_f.object.player.national_team.code.to_sym, element: :div)
                - else
                  %object{data: rp_f.object.club.logo_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
                    = image_tag('default_logo.png')
            .rp-edit-param.res-name
              = rp_f.object.full_name_reverse
            .rp-edit-param
              = rp_f.object.result_score

            .rp-edit-param
              = rp_f.number_field :score, in: 0..11, step: 0.1, required: true, class: 'form-control'
            - if rp_f.object.player.position_names.include?(Position::GOALKEEPER)
              .rp-edit-param
                = rp_f.number_field :missed_goals, in: 0..9, step: 1, required: true, class: 'form-control'
              .rp-edit-param
                = rp_f.number_field :caught_penalty, in: 0..9, step: 1, required: true, class: 'form-control'
              .rp-edit-param
                = rp_f.number_field :missed_penalty, in: 0..9, step: 1, required: true, class: 'form-control'
            - else
              .rp-edit-param
                = rp_f.number_field :goals, in: 0..9, step: 1, required: true, class: 'form-control'
              .rp-edit-param
                = rp_f.number_field :scored_penalty, in: 0..9, step: 1, required: true, class: 'form-control'
              .rp-edit-param
                = rp_f.number_field :failed_penalty, in: 0..9, step: 1, required: true, class: 'form-control'
            .rp-edit-param
              = rp_f.number_field :assists, in: 0..9, step: 1, required: true, class: 'form-control'
            .rp-edit-param
              = rp_f.number_field :saves, in: 0..99, step: 1, required: true, class: 'form-control'
            .rp-edit-param
              = rp_f.number_field :conceded_penalty, in: 0..9, step: 1, required: true, class: 'form-control'
            .rp-edit-param
              = rp_f.number_field :penalties_won, in: 0..9, step: 1, required: true, class: 'form-control'
            .rp-edit-param
              = rp_f.check_box :yellow_card, {'data-toggle' => 'toggle', 'data-onstyle' => 'warning', 'data-on' => 'Yes', 'data-off' => 'No', 'data-size' => 'small', 'data-height' => '38'}
            .rp-edit-param
              = rp_f.check_box :red_card, {'data-toggle' => 'toggle', 'data-onstyle' => 'danger', 'data-on' => 'Yes', 'data-off' => 'No', 'data-size' => 'small', 'data-height' => '38'}
            .rp-edit-param
              - if (rp_f.object.position_names & Position::CLEANSHEET_ZONE).any?
                = rp_f.check_box :cleansheet, {'data-toggle' => 'toggle', 'data-onstyle' => 'success', 'data-on' => 'Yes', 'data-off' => 'No', 'data-size' => 'small', 'data-height' => '38'}
            .rp-edit-param
              = rp_f.number_field :own_goals, in: 0..9, step: 1, required: true, class: 'form-control'
            .rp-edit-param
              = rp_f.number_field :played_minutes, in: 0..120, step: 1, required: true, class: 'form-control'
            .rp-edit-param
              = rp_f.check_box :manual_lock, {'data-toggle' => 'toggle', 'data-onstyle' => 'primary', 'data-on' => 'Yes', 'data-off' => 'No', 'data-size' => 'small', 'data-height' => '38'}

    .form-group
      = submit_tag 'Update round players scores', class: 'btn btn-success btn-block'
