.page-block
  .web-header= render 'layouts/left_nav', league: nil
  .mob-header= render 'layouts/mob_header', league: nil, title: t('round.title')
  .page-info.round-manage-page
    .round-title-bar.back-links
      .back-link
        = link_to tournament_round_path(tournament_round) do
          .back-link-arrow
            = image_tag('icons/arrow_left.svg')
          .back-link-text
            = "#{tournament_round.tournament.name} ##{tournament_round.number}"
    .round-missed-players
      %h4.round-missed-players-title Missed players
      - national = tournament_round.tournament.national?
      - matches = national ? tournament_round.national_matches : tournament_round.tournament_matches
      - matches.each do |match|
        - next if match.missed_players_data.blank?
        .round-missed-players-match
          .round-missed-players-match-title
            - if national
              = "#{match.host_team.name} vs #{match.guest_team.name}"
            - else
              = "#{match.host_club.name} vs #{match.guest_club.name}"
          %table.table.table-sm.table-hover.round-missed-players-table
            %thead.thead-light
              %tr
                %th ID
                %th Name
                %th Rating
                %th Minutes
                %th Player
            %tbody
              - match.missed_players_data.each_value do |player|
                - matched_player = player_by_source_data(player)
                %tr
                  %td= player['sofascore_id'] || player['fotmob_id']
                  %td= player['source_name']
                  %td= player['rating']
                  %td= player['played_minutes']
                  %td
                    - if matched_player
                      = link_to matched_player.name, player_path(matched_player)
