.team-player-param-item.team-player-data
  .team-player-avatar
    .player-show-face
      %object{data: player.avatar_path, type: 'image/jpg'}
        = image_tag('avatar.png')
    .player-show-kit
      %object{data: player.kit_path, type: 'image/jpg'}
        = image_tag('kit_small_default2.png')
  .team-player-name
    .team-player-last-name
      = player.name
    .team-player-first-name
      = player.first_name
.team-player-param-item.team-player-position
  - player.positions.each do |position|
    .slot-position{class: "slot-position-#{position.name}"}
      = position.name
.team-player-param-item.team-player-age
  = player.age
.team-player-param-item.team-player-nationality
  = flag_icon(player.nationality&.to_sym, element: :div)
.team-player-param-item.team-player-club
  %object{data: player.club.logo_path, type: 'image/jpg'}
    = image_tag('default_logo.png')
.team-player-param-item.team-player-link
  = image_tag('icons/link_arrow.png')
