.page-block
  .web-header= render 'layouts/left_nav', league: league
  .web-header= render 'layouts/right_nav', league: league
  .mob-header= render 'layouts/mob_header', league: league

  .page-info.transfers-page
    .transfers-head
      .tournament-logo= image_tag(league.tournament.logo_path)
      .transfers-title
        = t('transfers.title', league: league.name)
    -  if current_user&.can_moderate? && auction.live?
      .actions-buttons
        = link_to t('transfers.auction'), league_auction_path(league, auction)
    .transfers-block
      .transfer-headers
        .transfer-header-item= t('teams.player')
        .transfer-header-item.transfer-header-position= t('teams.positions')
        .transfer-header-item= t('teams.team')
        .transfer-header-item= t('teams.status')
        .transfer-header-item.right= t('teams.price')
        .transfer-header-item.center= t('teams.club')
        .transfer-header-item
      - @transfers.each do |transfer|
        = link_to player_path(transfer.player) do
          .transfer-item
            .team-player-param-item.transfer-player-data
              .transfer-player-avatar
                .player-show-face
                  %object{data: transfer.player.avatar_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
                    = image_tag('avatar.png')
                .player-show-kit
                  %object{data: transfer.player.kit_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
                    = image_tag('kit_small_default.png')
              .transfer-player-name
                .transfer-player-last-name
                  = transfer.player.name
                .transfer-player-first-name
                  = transfer.player.first_name
            .team-player-param-item.transfer-player-position
              - transfer.player.positions.each do |position|
                .slot-position{class: "slot-position-#{position.name}"}
                  = position_name(position)
            .team-player-param-item.transfer-team-image
              .team-image.inline-block
                %object{data: transfer.team.logo_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
                  = image_tag('default_logo.png')
            .team-player-param-item.team-player-transfer-status
              = image_tag("icons/#{transfer.status}.png")
            .team-player-param-item.transfer-player-rating
              = transfer.price
            .team-player-param-item.transfer-player-club
              %object{data: transfer.player.club.logo_path, type: ApplicationRecord::CONTENT_TYPE_PNG}
                = image_tag('default_logo.png')
            .team-player-param-item.transfer-player-link
              = image_tag('icons/link_arrow.png')
      .pagination-row.pagination.justify-content-center
        = paginate @transfers

  .portrait-footer{ class: "portrait-footer-#{league.mantra?}"}
    = render 'layouts/league_links', league: league
