- if league.auctions.active.any?
  .next-round.auction-block-active{ class: "auction-block-#{active_auction.status}"}
    .auction-block-header
      - if active_auction.sales?
        .auction-badge= t('header.sales_period')
      - else
        .live-badge
          .live-dot
          .live-text= t('header.live')
        - if active_auction.blind_bids? && active_auction.auction_rounds.active.any? && user_auction_bid(active_auction.auction_rounds.active.first, league)
          .bid-made= t('header.bid_made')
      .auction-line
        .auction-text-live= "#{t('header.auction')} ##{active_auction.number}"
        - if user_team_by_league(current_user, league)
          - if active_auction.sales?
            .auction-link-area
              .auction-link
                = link_to t('header.sell'), edit_team_path(user_team_by_league(current_user, league))
          - elsif active_auction.blind_bids? && active_auction.auction_rounds.active.any? && user_team_by_league(current_user, league).vacancies.positive?
            .auction-link-area
              .auction-link
                - if user_auction_bid(active_auction.auction_rounds.active.first, league)
                  = link_to t('header.edit_bid'), edit_auction_round_auction_bid_path(active_auction.auction_rounds.active.first, user_auction_bid(active_auction.auction_rounds.active.first, league))
                - else
                  = link_to t('header.make_bid'), new_auction_round_auction_bid_path(active_auction.auction_rounds.active.first)
    .next-round-datetime
      - if active_auction.sales?
        .next-round-date= active_auction.deadline&.strftime("%^a, %^b %e")
        .next-round-time= active_auction.deadline&.strftime("%H:%M")
      - elsif active_auction.blind_bids? && active_auction.auction_rounds.active.any?
        .next-round-date= active_auction.auction_rounds.active.first.deadline&.strftime("%^a, %^b %e")
        .next-round-time= active_auction.auction_rounds.active.first.deadline&.strftime("%H:%M")
- elsif league.auctions.initial.any? && TimeDifference.between(Time.zone.now, initial_auction.deadline).in_days < 7
  .next-round.auction-block-soon
    .auction-badge= t('header.coming_soon')
    .auction-text= "#{t('header.auction')} ##{initial_auction.number}"
    .next-round-datetime
      .next-round-date= initial_auction.deadline&.strftime("%^a, %^b %e")
      .next-round-time= initial_auction.deadline&.strftime("%H:%M")
- elsif league.auctions.closed.any? && TimeDifference.between(league.auctions.closed.last.updated_at, Time.zone.now).in_days < 4
  .next-round.auction-block-finished
    .auction-badge= t('header.finished')
    .auction-text= "#{t('header.auction')} ##{league.auctions.closed.last.number}"