.footer{ class: "footer-left-#{user_signed_in?}"}
  .footer-row.footer-row-top
    .footer-base
      .mantra-logo
        = link_to root_path do
          = image_tag('logo.svg')
      .mantra-donate
        -#.grey-btn.donate-btn
        -#  = link_to t('header.help_project'), ''
    .footer-sign
      - unless user_signed_in?
        .footer-link-sign
          = link_to t('header.login'), new_user_session_path
        .footer-link-sign
          .grey-btn
            = link_to t('header.start_playing'), new_user_registration_path
  .footer-row
    .footer-links
      -#.footer-link= link_to t('header.rules_faq'), ''
      .footer-link= link_to t('header.rules_nav'), rules_path
      -#.footer-link= link_to t('header.dictionary'), ''
      .footer-link= link_to t('header.links'), links_path
      -#.footer-link.footer-link-center= link_to t('header.tips'), ''
      -#.footer-link.footer-link-right= link_to t('header.contact'), ''
      .footer-link.footer-link-right= link_to t('header.prices'), fees_path
      .footer-link.footer-link-right= link_to t('header.about'), about_path
  .footer-bottom
    .footer-mantra MantraFootball
    .footer-slogan= "#{t('welcome.index.slogan1')} #{t('welcome.index.slogan2')}"
    .footer-social
      .footer-social-icon
        = link_to 'https://www.facebook.com/mantrafootball', target: '_blank' do
          = image_tag('social_media/facebook.svg')
      .footer-social-icon
        = link_to 'https://www.instagram.com/mantrafootball', target: '_blank' do
          = image_tag('social_media/instagram.svg')
