.header.header-grid
  .left-header
    .mantra-logo
      = link_to root_path do
        = image_tag("logo628.png")
    .locale
      .locale-btn
        = link_to 'УКР', '#'
      -# TODO: add links to change locales
    - if welcome_controller?
      .info-links
        .info-links-item
          = link_to 'Rules', rules_path
        .info-links-item
          = link_to 'Guide', guide_path
        .info-links-item
          = link_to 'About', about_path
        .info-links-item
          = link_to 'Contact', contact_path
    - else
      -# TODO: add base links
      .base-links
        .base-link-item
          = link_to 'Rules', '#'
  .right-header
    - if welcome_controller?
      - if user_signed_in?
        .login-links
          .login-link-item.logout-link
            = link_to 'Log Out', destroy_user_session_path, method: :delete
      - else
        .login-links
          .login-link-item.login-link
            = link_to 'Login', new_user_session_path
          .login-link-item.start-leagues-link
            = link_to 'Start league', start_path
    - else
      .next-round
        -# TODO: add next round data
      .user-data
        -# TODO: add user data
