.header.header-grid{class: "landing-#{ params[:controller] == 'welcome' && params[:action] == 'index' }"}
  .left-header{class: "external-header-#{ external_actions? }"}
    .mantra-logo
      = link_to root_path do
        = image_tag('logo.svg')
    .locale
      .locale-btn
        = link_to '🇺🇦 Укр', '?locale=ua' if I18n.locale == :en
        = link_to '🇬🇧 Eng', '?locale=en' if I18n.locale == :ua

  .header-links
    .header-links-section.header-links-section-border
      .header-link-item
        = link_to t('header.rules'), rules_path
      .header-link-item
        = link_to t('header.prices'), fees_path
    .header-links-section.header-links-section-border
      .header-link-item
        = link_to t('header.about'), about_path
      .header-link-item
        = link_to t('header.faq'), ''
      .header-link-item
        = link_to t('header.contact'), contact_path
      -#.header-link-item
      -#  = link_to t('header.demo'), ''
    .header-links-section.header-links-section-sign
      .header-link-item
        = link_to t('header.login'), new_user_session_path
      .header-link-item
        .grey-btn.header-link-start
          = link_to t('header.start_playing'), new_join_request_path

-#    .burger-menu-block
-#      %nav{ role: 'navigation' }
-#        #menuToggle
-#          %input{ type: 'checkbox' }
-#          %span
-#          %span
-#          %span
-#          %ul#menu
-#            .burger-link= link_to t('header.start'), new_join_request_path
-#            .burger-link= link_to t('header.login'), new_user_session_path
-#            .burger-link= link_to t('header.news'), articles_path
-#            .burger-link= link_to t('header.rules'), rules_path
-#            .burger-link= link_to t('header.guide'), guide_path
-#            .burger-link= link_to t('header.about'), about_path
-#            .burger-link= link_to t('header.contact'), contact_path
-#
-#:javascript
-#  var modal = document.getElementById("my-modal");
-#  var btn = document.getElementById("modal-btn");
-#  var span = document.getElementsByClassName("close")[0];
-#
-#  btn.onclick = function() {
-#    modal.style.display = "block";
-#  };
-#
-#  span.onclick = function() {
-#    modal.style.display = "none";
-#  };
-#
-#  window.onclick = function(event) {
-#    if (event.target == modal) {
-#      modal.style.display = "none";
-#    }
-#  }
