.header.header-grid
  .left-header{class: "external-header-#{external_actions?}"}
    .mantra-logo
      = link_to root_path do
        = image_tag('logo628.png')
    .locale
      .locale-btn
        = link_to 'УКР', '?locale=ua' if I18n.locale == :en
        = link_to 'ENG', '?locale=en' if I18n.locale == :ua
    .base-links.info-links
      - if user_signed_in?
        .info-links-item.base-link-item
          = link_to t('header.squad'), team_path(current_user.team)
        .info-links-item.base-link-item
          = link_to t('header.lineups'), team_lineups_path(current_user.team)
        .info-links-item.base-link-item
          = link_to t('header.table'), league_results_path(current_user.league)
        -# TODO: combine Round Fixtures and Results in one link Rounds
        - if current_user.league.active_tour || current_user.league.tours.last
          .info-links-item.base-link-item
            = link_to t('header.round'), tour_path(current_user.league.active_tour || current_user.league.tours.last)
        .info-links-item.base-link-item
          = link_to t('header.fixtures'), league_tours_path(current_user.league)
        .info-links-item.base-link-item
          = link_to t('header.results'), league_tours_path(current_user.league, closed: true)
        -# TODO: temporary hidden links
        -#.info-links-item.base-link-item
        -#  = link_to 'Links', league_links_path(current_user.league)
        -#.info-links-item.base-link-item
        -#  = link_to 'Leagues', leagues_path
      - else
        -#- if external_actions?
        .info-links-item
          = link_to t('header.about'), about_path
        .info-links-item
          = link_to t('header.contact'), contact_path
        .info-links-item
          = link_to t('header.rules'), rules_path
      .info-links-item
        = link_to t('header.guide'), guide_path
      .info-links-item.base-link-item
        = link_to t('header.players'), players_path

  .right-header{class: "external-header-#{external_actions?}"}
    .right-header-links
      - if user_signed_in?
        - if external_actions?
          .login-links
            .login-link-item.header-btn
              = link_to t('header.logout'), destroy_user_session_path, method: :delete
        - else
          .personal-links
            .next-round
              -# TODO: add next round data
            .user-data
              -# TODO: move admin link to profile page
              -# = link_to 'Admin Panel', rails_admin_path, class: 'admin-link', title: 'Admin Panel'
              = link_to edit_user_registration_path do
                .profile-logo
                  = image_tag(current_user.team.logo_path)
      - else
        .login-links
          .login-link-item.login-link
            = link_to t('header.login'), new_user_session_path
          .login-link-item.header-btn
            = link_to t('header.start'), new_join_request_path
    .burger-menu-block
      %nav{ role: 'navigation' }
        #menuToggle
          %input{ type: 'checkbox' }
          %span
          %span
          %span
          %ul#menu
            - if user_signed_in?
              .burger-link= link_to t('header.squad'), team_path(current_user.team)
              .burger-link= link_to t('header.lineups'), team_lineups_path(current_user.team)
              .burger-link= link_to t('header.table'), league_results_path(current_user.league)
              - if current_user.league.active_tour || current_user.league.tours.last
                .burger-link= link_to t('header.round'), tour_path(current_user.league.active_tour || current_user.league.tours.last)
              .burger-link= link_to t('header.fixtures'), league_tours_path(current_user.league)
              .burger-link= link_to t('header.results'), league_tours_path(current_user.league, closed: true)
              .burger-link= link_to t('header.links'), league_links_path(current_user.league)
              .burger-link= link_to t('header.leagues'), leagues_path
              .burger-link= link_to t('header.players'), players_path
              .burger-link= link_to t('header.rules'), guide_path
            -else
              .burger-link= link_to t('header.start'), new_join_request_path
              .burger-link= link_to t('header.login'), new_user_session_path
              .burger-link= link_to t('header.rules'), rules_path
              .burger-link= link_to t('header.guide'), guide_path
              .burger-link= link_to t('header.about'), about_path
              .burger-link= link_to t('header.contact'), contact_path
