.left-nav
  .root-logo
    = link_to root_path do
      = image_tag('logo.svg')
  - if user_signed_in?
    - current_user.teams.each do |team|
      - if team.league.active_tour_or_last
        .nav-logo{ class: "nav-logo-#{ team.league == league }"}
          = link_to tour_path(team.league.active_tour_or_last) do
            = image_tag(team.league.tournament.logo_path)
  .nav-logo-bottom
    .nav-logo-small
      = link_to leagues_path do
        .nav-link-icon= '🏑'
        .nav-link-title= t('header.leagues')
    -# TODO: add link to fixtures page
    -#.nav-logo-small
    -#  = link_to '' do
    -#    .nav-link-icon= '🗓'
    -#    .nav-link-title= t('header.fixtures')
    -# TODO: add link to deeds page
    -#.nav-logo-small
    -#  = link_to '' do
    -#    .nav-link-icon= '🏆'
    -#    .nav-link-title= t('header.deeds')
    #help-modal-btn.nav-logo-small
      = link_to '' do
        .nav-link-icon= '⁉️'
        .nav-link-title= t('header.help')
    -# TODO: add link to donate page
    -#.nav-logo-small
    -#  = link_to '' do
    -#    .nav-link-icon= '❤️'
    -#    .nav-link-title= t('header.donate')
    - if current_user&.admin?
      .nav-logo-small
        = link_to rails_admin_path do
          .nav-link-icon= '⛔️'
          .nav-link-title= t('header.admin')
    - if user_signed_in?
      .nav-logo-small
        = link_to user_path(current_user) do
          .nav-link-img= image_tag(current_user.avatar_path)
          .nav-link-title= current_user.name
    - else
      .nav-logo-small.sign-out-btn
        = link_to root_path do
          .sign-out-btn-img= image_tag('icons/sign_out_square.svg')

    #help-modal.help-modal
      .help-modal-content
        -# TODO: add links to help pages
        .help-modal-link= link_to t('header.rules_faq'), ''
        .help-modal-link= link_to t('header.rules_nav'), ''
        .help-modal-link= link_to t('header.dictionary'), ''
        .help-modal-link= link_to t('header.links'), ''
        .help-modal-link= link_to t('header.tips'), ''
        .help-modal-plus-links
          .help-modal-link
            = link_to '' do
              .help-modal-link-text= t('header.about')
              .help-modal-link-icon= image_tag('icons/link_out.svg')
          .help-modal-link
            = link_to '' do
              .help-modal-link-text= t('header.prices')
              .help-modal-link-icon= image_tag('icons/link_out.svg')
          .help-modal-link
            = link_to '' do
              .help-modal-link-text= t('header.contact')
              .help-modal-link-icon= image_tag('icons/link_out.svg')

:javascript
  var modal = document.getElementById("help-modal");
  var btn = document.getElementById("help-modal-btn");

  btn.onclick = function(e) {
    e.preventDefault();
    modal.style.display = "block";
  };

  window.onclick = function(e) {
    if (e.target == modal) { modal.style.display = "none"; }
  }
