= link_to 'News', articles_path, class: 'btn btn-outline-primary'
= link_to 'Teams', teams_path, class: 'btn btn-outline-primary'
= link_to 'Tours', tours_path, class: 'btn btn-outline-primary'
= link_to 'Table', results_path, class: 'btn btn-outline-primary'
= link_to 'Stats', clubs_path, class: 'btn btn-outline-primary'
= link_to 'Useful Links', links_path, class: 'btn btn-outline-primary'
