.right-nav{ class: "active-right-nav-#{ user_team_by_league(current_user, league).present? }"}
  - if league
    .league-name
      = league&.name
    .league-season
      = "#{t('header.season')} #{league.season.start_year.to_s[2..3]}-#{league.season.end_year.to_s[2..3]} • #{league.mantra? ? t('header.mantra') : t('header.fanta')}"

    - if user_team_by_league(current_user, league) || current_user&.admin?
      = render 'layouts/auction_badge', league: league, initial_auction: league.auctions.initial.first, active_auction: league.auctions.active.first

    - if league.active_tour
      .next-round
        - if league.active_tour.locked? && user_team_by_league(current_user, league)
          .next-round-title
            .live-badge
              .live-dot
              .live-text= t('header.live')
            .next-round-number= "#{t('header.next_round')} ##{league.active_tour.number}"
          .next-round-match
            - if league.active_tour.mantra?
              .next-round-team
                .next-round-team-param= image_tag(user_team_by_league(current_user, league).next_match.host.logo_path)
                .next-round-team-param.next-round-name= user_team_by_league(current_user, league).next_match.host.human_name
                .next-round-team-param.next-round-score= user_team_by_league(current_user, league).next_match.host_lineup&.total_score || 0.0
                .next-round-team-param.next-round-goals= user_team_by_league(current_user, league).next_match.host_lineup&.goals || 0
              .next-round-team
                .next-round-team-param= image_tag(user_team_by_league(current_user, league).next_match.guest.logo_path)
                .next-round-team-param.next-round-name= user_team_by_league(current_user, league).next_match.guest.human_name
                .next-round-team-param.next-round-score= user_team_by_league(current_user, league).next_match.guest_lineup&.total_score || 0.0
                .next-round-team-param.next-round-goals= user_team_by_league(current_user, league).next_match.guest_lineup&.goals || 0
        - else
          .next-round-title
            .next-round-text= t('header.next')
            .next-round-number= "#{t('header.next_round')} ##{league.active_tour.number}"
          .next-round-datetime
            .next-round-date= league.active_tour.tournament_round.deadline&.strftime("%^a, %^b %e")
            .next-round-time= league.active_tour.tournament_round.deadline&.strftime("%H:%M")
          - if user_team_by_league(current_user, league)&.next_opponent
            .next-round-opponent
              .next-round-vs vs
              .next-round-opponent-logo= image_tag(user_team_by_league(current_user, league).next_opponent.logo_path)
              .next-round-opponent-name= user_team_by_league(current_user, league).next_opponent.human_name

    .league-links
      = render 'layouts/league_links', league: league

      - if params[:controller] == 'tours'
        .admin-actions
          - if current_user&.can_moderate? && tour.deadlined?
            = link_to inject_scores_tour_path(tour), data: { confirm: t('header.are_you_sure') } do
              .league-link
                .league-link-icon= image_tag('icons/round/table.svg')
                .league-link-text= t('header.inject_scores')
            -#.league-link= link_to t('header.edit_scores'), edit_tournament_round_path(tour.tournament_round)
          - if current_user&.admin?
            - if tour.inactive?
              = link_to tour_path(tour, status: :set_lineup), method: :put, data: { confirm: t('header.are_you_sure') } do
                .league-link
                  .league-link-icon= image_tag('icons/round/teams.svg')
                  .league-link-text= t('header.start_round')
            - if tour.set_lineup?
              = link_to tour_path(tour, status: :locked), method: :put, data: { confirm: t('header.are_you_sure') } do
                .league-link
                  .league-link-icon= image_tag('icons/round/teams.svg')
                  .league-link-text= t('header.lock_round')
            - if tour.locked_or_postponed? && tour.tournament_round.finished?
              = link_to tour_path(tour, status: :closed), method: :put, data: { confirm: t('header.are_you_sure') } do
                .league-link
                  .league-link-icon= image_tag('icons/round/teams.svg')
                  .league-link-text= t('header.close_round')
            - if tour.locked? && tour.mantra?
              = link_to tour_path(tour, status: :postponed), method: :put, data: { confirm: t('header.are_you_sure') } do
                .league-link
                  .league-link-icon= image_tag('icons/round/teams.svg')
                  .league-link-text= t('header.postpone_round')

    .league-team
      - if user_team_by_league(current_user, league)
        .league-team-exist
          .league-team-logo= image_tag(user_team_by_league(current_user, league).logo_path)
          .league-team-name= user_team_by_league(current_user, league).human_name
      - else
        .league-team-empty= t('header.not_participant')
