!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MantraFootball
    = csrf_meta_tags
    = csp_meta_tag
    %meta{ "http-equiv" => "Content-Security-Policy", "content" => "default-src 'self'; img-src https://*; child-src 'none';" }
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = favicon_link_tag asset_path('mantra.ico')
    -#%script{type: "text/javascript", src: "/javascripts/lib/hotjar.js"}
  %body
    = query_diet_widget if Rails.env.development?
    .main-block
      = yield
