!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MantraFootball
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = favicon_link_tag asset_path('mantra.ico')
  %body
    = render 'layouts/header'
    .main-block
      = yield
    = render 'layouts/footer'
